<div class="frame">
    <div class="left_bar">
        <ul>
            <li onclick="location.href='' " class="<%= state==''  ? 'active' : '' %>"><i class="bi bi_left_bar bi-person-circle"></i>Profile</li>
            <li onclick="location.href='' " class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-shield-lock-fill"></i>Update Password</li>
            <li onclick="location.href='' " class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-gift-fill"></i>Orders</li>
            <li onclick="location.href='' " class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-bell-fill"></i>Notifications</li>
            <li onclick="location.href='' " class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-info-circle-fill"></i>About Us</li>
            <li onclick="location.href='' " class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-telephone-fill"></i>Contact Us</li>
        </ul>
    </div>
    </div>