<%- include('../components/head.ejs') %>
   <div class="wrapper address_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content address_content">
            <%- include('../components/user_left.ejs') %>
            <div class="right_content">
               <div class="address_frame">
                  <div class="pro_top">
                     <h3>Profile Details</h3>
                      <% if(userProfile) { %>
                     <button  style="display: <%= userProfile? 'block' :  'none' %> ;" onclick="location.href = '/account/editaddress?id=<%= userProfile._id %>' ">Edit Profile</button>
                     <% } %>
                 </div>
               <div class="form_frame">
                   <form method="post" id="form" spellcheck="false" enctype="multipart/form-data">
                   <div class="top">
                       <div class="top_left">
                           <label for="username">User Name</label>
                           <input type="text" style="pointer-events: <%= userProfile? 'none': 'all' %> ;"  value="<%= findUser? findUser.username : '' %>">
   
                           <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">
                               <span style="display: flex; flex-direction: column; gap: .2rem; width: 50%;">
                                   <label for="firstname" >First Name</label>
                                   <input type="text" value="<%= userProfile? userProfile.firstname : '' %>" name="firstname" style="width: 100%;pointer-events: <%= userProfile? 'none': 'all' %> ;" >
                               </span>
                               <span style="display: flex; flex-direction: column; gap: .2rem;  width: 50%;">
                                   <label for="lastname">Last Name</label>
                                   <input  value="<%= userProfile? userProfile.lastname : '' %>" type="text" name="lastname" style="width: 110%; padding-left: 1rem;pointer-events: <%= userProfile? 'none': 'all' %> ; " >
                               </span>
                           </div>
   
                           <label for="email">Email</label>
                           <input style="pointer-events: <%= userProfile? 'none': 'all' %> ;" value="<%= findUser ? findUser.email : '' %>" type="text" >
   
                       </div>
                       <div class="top_right">
                           <div class="img_div"><img src="<%= userProfile? userProfile.photo : '' %>" id="imagePreview" class="product_img" alt=""></div>
                       <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                        <div class="file_div" style="display: <%= userProfile? 'none': 'block' %> ;"><span class="choose_file">CHOOSE</span><input type="file" onchange="previewImage(this)"  name="profileimg" class="input_file"></div>
                       </div>
                   </div>
                   <div class="bottom" style="padding: 0 1rem;">


                    <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">


                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 55%;">
                        <label for="dob">Mobile</label>
                        <input  style="pointer-events: <%= userProfile? 'none': 'all' %> ;" value="<%= findUser? findUser.mobilenum : '' %>" type="number" name="mobilenum">
                    </span>

                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 40%;">
                        <label for="dob">DOB</label>
                        <input  style="pointer-events: <%= userProfile? 'none': 'all' %> ;" value="<%= userProfile? userProfile.DOB.toISOString().substring(0, 10) : '' %>" type="date" name="DOB">
                    </span>
                    
                    </div>

                       <div style="display: flex; gap: 1rem; width: 94%; margin-top: .4rem;">
                           <span style="display: flex; flex-direction: column; gap: .2rem; width: 27%;">
                           <label for="country">Country</label>
                           <input  value="<%= userProfile? userProfile.country : '' %>" type="text" name="country" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;pointer-events: <%= userProfile? 'none': 'all' %> ;">
                       </span>
                       
                       <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                       <label for="state">State</label>
                       <input  value="<%= userProfile? userProfile.state : '' %>" type="text" name="state" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;pointer-events: <%= userProfile? 'none': 'all' %> ;">
                       </span>
   
   
                       
                       
                       <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                           <label for="district">District</label>
                           <input  value="<%= userProfile? userProfile.district : '' %>" type="text" name="district" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;pointer-events: <%= userProfile? 'none': 'all' %> ;">
                       </span>
   
                       <span style="display: flex; flex-direction: column; gap: .2rem; width: 19%;">
                       <label for="zip">Zip</label>
                       <input  value="<%= userProfile? userProfile.zip : '' %>" type="number" maxlength="8" name="zip" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;pointer-events: <%= userProfile? 'none': 'all' %> ;">
                       
                       </span>
   
                       </div>
   
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem; width: 94%;">
                           <label for="landmark">Landmark</label>
                           <input style="pointer-events: <%= userProfile? 'none': 'all' %> ;" value="<%= userProfile? userProfile.landmark : '' %>" type="text" name="landmark">
                       </span>

                    
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                           <label for="address">Address</label>
                           <textarea name="address" style="height:<%= userProfile? '9rem': '4rem' %> ;pointer-events: <%= userProfile ? 'none' : 'all' %>"  id="text_area"><%= userProfile? userProfile.address : '' %></textarea>
                       </span>
                       <p class="error_msg"></p>
                       <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                           <button style="display: <%= userProfile? 'none': 'block' %> ;" type="button" class="update_profile_btn">SAVE PROFILE</button>
                       </span>
                   </div>
               </form>
               </div>
           </div>
         </div>
        </div>
        <%- include('../../common/footer.ejs') %>
   </div>
   <script src="/javascript/btnsearch.js"></script>

<script>


function previewImage(input) {   
    var file = input.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}



const submitBtn = document.querySelector('.update_profile_btn')

submitBtn.addEventListener('click',async(e) =>{

    try {

        const firstName = document.getElementsByName('firstname')[0].value
        const lastName = document.getElementsByName('lastname')[0].value
        const DOB = document.getElementsByName('DOB')[0].value
        const country = document.getElementsByName('country')[0].value
        const state = document.getElementsByName('state')[0].value
        const district = document.getElementsByName('district')[0].value
        const zip = document.getElementsByName('zip')[0].value
        const landmark = document.getElementsByName('landmark')[0].value
        const address = document.getElementsByName('address')[0].value

        const errMsg = document.querySelector('.error_msg')
        const profile_form = document.getElementById('form')
        const form = new FormData(profile_form)

        if(!firstName || !lastName || !DOB || !country || !state || !district || !zip || !landmark || !address ){
            errMsg.innerHTML = 'Please Fill all Fields'
            setTimeout(() => {
                errMsg.innerHTML = ''
            }, 2000);
        }
        else{

            const response = await fetch('/account/add_address',{
                method:'POST',
                body:form
            })

            const result = await response.json()

            if(!response.ok){
                errMsg.innerHTML = result.err
                setTimeout(() => {
                    errMsg.innerHTML = ''
                }, 2000);
            }
            else{
                if(result.success){
                    errMsg.innerHTML = 'Profile Update Success'
                    errMsg.classList.add('success')
                    setTimeout(() => {
                       window.location.href = '/home'
                    }, 400);
                }
            }

        }



    } catch (error) {
        console.log('Error in profile address',error.message);
    }
})




</script>

<%- include('../../common/end.ejs') %>