<%- include('../components/head.ejs') %>
   <div class="wrapper cart_wrapper">
    <%- include('../components/top_nav.ejs') %>

         <!-- YOU NEED TO LOGIN -->
         <div style="<%= loggedIn ? 'display:none' : 'display:block;' %>" class="login_to_view">
          <div class="log_frame">
            <h3>PLEASE LOG IN</h3>
            <p>Login to view items in your CART.</p>
            <img src="/images/cart.png" class="cart_png" alt="">
            <button onclick="location.href = '/login' " class="login_from_wish_btn">LOGIN</button>
          </div>
         </div>

         <div class="cart_content">    

         <div class="product_frame">

         <!-- YOU CART IS EMPTY -->
         <div style="<%= cartExist && cartCount > 0 ? 'display:none' : 'display:block;' %>" class="cart_is_empty">
            <div class="empty_frame">
               <img src="/images/empty cart.png" class="cart_empty_png" alt="">
               <h3>Your Cart is Empty</h3>
               <p>Looks like you haven't added anything to your cart yet.</p>
            </div>
         </div>
   
         <% if(cartProducts) { %>

         <% cartProducts.forEach((list) => { %>

               <div class="product product<%= list.productId._id %>" onclick="productOpen(event,'<%= list.productId._id %>')">
                  <div class="image_sec"><img src="<%= list.productId.productimg[0] %>" style="width: 6rem; height: 7.2rem;" alt=""></div>
                  <div class="discription_sec">
                     <p class="product_name"><%= list.productId.productname %></p>
                     <div style="display: flex; gap: 1rem; align-items: center;">
                        <% if(list.productId.stock > 0 ) { %>

                        <select onclick="productQuantity(event)"  name="quantity" onchange="updateQuantity(event,'<%= list.productId._id %>')" style="outline: none; padding: .3rem;">
                           <option value="<%= list.quantity %>">Qty:<%= list.quantity %></option>
                           <% for (let i = 1; i<=list.productId.stock ; i++) { %>
                              <option value="<%= i %>">Qty:<%= i %></option>
                          <% } %>
                        </select>
                        <% } %>
                        <% if(list.productId.stock > 0 ) { %>
                        <div class="stock_left"><%= list.productId.stock %> Left</div>
                        <% }else { %>
                           <button  style="color: red; font-family: 'Poppins',sans-serif;letter-spacing: .06rem;border: none; background-color: white; font-size: .9rem; width: 8rem;height: 70%;">
                             OUT OF STOCK
                          </button>
                        <% } %>
                     </div>
                     <div style="display: flex; gap: .7rem; align-items: center;">
                        <span style="display: flex; align-items: center;"><i style="color: red; font-size: .8rem;" class="bi bi-currency-rupee"></i><p class="old_price"><%= list.productId.oldprice.toLocaleString() %></p></span>
                        <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee"></i><p class="new_price new_price<%= list.productId._id %>"><%= Number(list.quantity * list.productId.newprice).toLocaleString() %></p></span>
                        <p class="discount"><%= Math.round(100 - (list.productId.newprice / list.productId.oldprice * 100)) %>%</p>
                     </div>
                     <p class="return_status">Return policy 
                        <% if(list.productId.returns) { %>
                           <i class="bi bi-check"></i>
                           <% } else{ %>
                           <i class="bi bi-x"></i>
                           <% } %>
                     </p>
                  </div>
                  <div class="delete_section">
                     <div style="margin-bottom: 1rem;"><button onclick="productRemove(event,'<%= list.productId._id %>')"><i class="bi bi-trash"></i></button></div>
                  </div>
               </div>

               <% }) %>
               <% } %>
            </div>
            <div class="price_frame">
               <div class="price_sub_frame">
                  <div class="cart_details"> 
                     <p>Cart Items</p>
                     <p class="cartCount"><%= cartCount %></p>
                  </div>
                  <div class="cart_details"> 
                     <p>Cart Total</p>
                     <p><i class="bi bi-currency-rupee"></i><span class="cart_total"><%= cartTotal %></span></p>
                  </div>
                  <div class="cart_details"> 
                     <p>Discount </p>
                     <p><i class="bi bi-currency-rupee"></i>-<span class="productDiscount"><%= discount %></span></p>
                  </div>
                  <div class="cart_details"> 
                     <p>GST</p>
                     <p><i class="bi bi-currency-rupee"></i><span class="gst"><%= Math.round(gst) %></span></p>
                  </div>
                  <div class="cart_details"> 
                     <p>Delivery Charge</p>
                     <p style="color: rgb(0, 158, 0); font-weight: 600;">FREE DELIVERY</p>
                  </div>
               </div>
               <div class="total_amount"> 
                  <p>Total Amount</p>
                  <p><i class="bi bi-currency-rupee"></i><span class="cartTotalAmount"><%= Math.round((cartTotal - discount) + gst) %></span></p>
               </div>
               <div class="btn_div"><button onclick="checkoutFromCart('<%= cartExist._id %>')" class="place_order_btn">PLACE ORDER</button></div>
            </div>
         </div>
         <%- include('../../common/footer.ejs') %>
   </div>


<script src="/javascript/checkout.js"></script>
<script src="/javascript/addtocart.js"></script>
<script src="/javascript/product-open.js"></script>
<script src="/javascript/btnsearch.js"></script>

<script>

    
function productQuantity(){
    
    event.stopPropagation()     
    event.preventDefault()
 
 }


 

</script>


<%- include('../../common/end.ejs') %>