<%- include('../components/head.ejs') %>
   <div class="wrapper category_products_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content catProducts_content">

                   <% catProducts.forEach((list) => { %>
                   <div class="product_frame_grid">
                      

                     <div class="top">
                        <button class="wish_btn"><i class="bi bi-heart"></i></button>
                        <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                      </div>
                      <div class="center">
                        <div class="name_div">
                        <p class="product_name"><%= list.productname %></p>
                        </div>
                        <div class="price_div">
                           <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice %></p>
                           <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice %></p>
                        </div>
                     </div>
                     <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>

                     
                  </div>
                  
                  <% }) %>
               

         </div>
         <%- include('../../common/footer.ejs') %>
   </div>
<%- include('../../common/end.ejs') %>