<%- include('../components/head.ejs') %>
   <div class="wrapper category_products_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content catProducts_content">


                     
            <!-- =============================================================================================================== -->
   

            <header>
               <ul>
                  <li><a href="/home">HOME</a></li>
                  <li><a href="#">ALL PRODUCTS</a></li>
                  <li class="category_li">
                     <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
                     <table class="drop_bar">
                        <% categories.forEach((cat) => { %>
                           <tr>
                           <% cat.subcategory.forEach((sub) => { %>
                           <td><a href="/subcategory/<%= sub.name %>"><%= sub.name %></a></td>
                           <% }) %>
                           </tr>
                       <% }) %>
                     </table>
                  </li>
                  <li class="<%= state==='MOBILES'? 'selected' : '' %>"><a href="/subcategory/MOBILES">MOBILES</a></li>
                  <li class="<%= state==='LAPTOPS'? 'selected' : '' %>"><a href="/subcategory/LAPTOPS">LAPTOPS</a></li>
                  <li class="<%= state==='PAINTINGS'? 'selected' : '' %>"><a href="/subcategory/PAINTINGS">PAINTINGS</a></li>
               </ul>
            </header>


            <!-- ========================================================================================================= -->

      <div class="product_section">


                   <% catProducts.forEach((list) => { %>
                   <div class="product_frame_grid"  onclick="productOpen(event,'<%= list._id %>')">
                      

                     <div class="top">
                        <button class="wish_btn"><i class="bi bi-heart"></i></button>
                        <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                      </div>
                      <div class="center">
                        <div class="name_div">
                        <p class="product_name"><%= list.productname %></p>
                        </div>
                        <div class="price_div">
                           <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                           <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                        </div>
                     </div>
                     <div class="bottom"><button class="addto_cart_btn">ADD TO CART</button></div>
                     
                  </div>
                  
                  <% }) %>

               </div>      

         </div>
         <%- include('../../common/footer.ejs') %>
   </div>


<script>

const addToCartBtn = document.querySelector('.addto_cart_btn');

const  productOpen = (event,productId) => {
    if (event.target.closest('.addto_cart_btn')) {
            event.stopPropagation()     
            event.preventDefault()
           }
    window.location.href = `/product?product=${productId}`
}


addToCartBtn.addEventListener('click',(e)=>{
    event.stopPropagation()     
    event.preventDefault()
    console.log('hii');
})

</script>

<%- include('../../common/end.ejs') %>    