<%- include('../components/head.ejs') %>

    <div class="wrapper checkout_wrapper">
        <%- include('../components/top_nav.ejs') %>
    <div class="content checkout_content">

            <div class="checkout_left">

                <!-- ----------------------------------- -->

                <div class="checkout_left_top">

                    <div class="productsArray" style="display: none;"><%- JSON.stringify(productArray) %></div>
                    <div class="defaultaddress" style="display: none;"><%- JSON.stringify(userAddress[0]._id) %></div>

                <% productArray.forEach((list)=>{ %>

                    <div class="product product<%= list.productId._id %>" onclick="productOpen(event,'<%= list.productId._id %>')">
                        <div class="image_sec"><img src="<%= list.productId.productimg[0] %>" style="width: 8rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name"><%= list.productId.productname %></p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity"  class="quantity<%= list._id %>" style="outline: none; padding: .3rem;" onclick="selectQuantity(event,'<%= list.productId._id %>')" onchange="updateQuantity(event,'<%= list.productId._id %>')" >
                                <option value="<%= list.quantity %>">Qty:<%= list.quantity %></option>
                                <% for (let i = 1; i<=list.productId.stock ; i++) { %>
                                    <option value="<%= i %>">Qty:<%= i %></option>
                                <% } %>
                              </select>
                              <div class="stock_left"><%= list.productId.stock %> Left</div>
                            </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                            <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee" style="color: red; font-size: .7rem;"></i><p class="old_price"><%= Number(list.productId.oldprice).toLocaleString() %></p></span>
                            <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee"></i><p class="new_price new_price<%= list.productId._id %>"><%= Number(list.quantity * list.productId.newprice).toLocaleString() %></p></span>
                            <p class="discount"><%= Math.round(100 - (list.productId.newprice / list.productId.oldprice * 100)) %>%</p>
                           </div>

                        <div class="color_size">
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>

                                <% list.productId.size.forEach((size,index) => { %>

                                    <span class="label_span" onclick="selectSize(event,'<%= size %>','<%= index %>','<%= list.productId._id %>')">
                                    <input id="label<%= list.productId._id %><%= index %>" class="radio<%= list.productId._id %><%= index %>"  value="<%= size %>" name="size" type="radio" >
                                    <label for="label<%= list.productId._id %><%= index %>" class="label<%= list.productId._id %> label<%= list.productId._id %><%= index %>" ><%= size %></label>
                                    </span>
                                    
                                <% }) %>
                                        
                            </div>

                            <!-- ------------------------------------- -->

                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>

                            <% list.productId.color.forEach((color,index) => { %>

                           <span style="background-color:<%= color %>" class="label_span_color" onclick="selectColor(event)" >
                              <input  id="<%= index %>" name="color" value="<%= color %>" type="radio" >
                              <label for="<%= index %>" ></label>
                           </span>

                           <% }) %>
                           
                     </div>

                           </div>

                           <li style="display: flex; gap: .7rem; align-items: center; height: 2rem;">
                            <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                               <% if(list.productId.returns) { %>
                                  <i class="bi bi-check"></i>
                                  <% } else{ %>
                                  <i class="bi bi-x"></i>
                                  <% } %>
                            </div>
                         </li>                     </div>
                        <div class="delete_section">
                           <div style="margin-bottom: 1rem;"><button onclick="deleteFromcheckout(event,'<%= list.productId._id %>','<%= list.productId.newprice %>')"><i class="bi bi-x-circle"></i></button></div>
                        </div>
                     </div>

                     <% }) %>


                </div>


              <!-- ----------------------------------- -->


                <div class="checkout_left_bottom">
                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_payment">
                        <h3>PAYMENT METHODE</h3>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/razorpay.png" alt=""></div><label for="stripe">RAZOR PAY</label><input id="stripe" value="razorpay" name="payment" class="payment" type="radio"></div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/cashondelivery.png" alt=""></div><label for="cashondelivery">CASH ON DELIVERY</label><input id="cashondelivery" value="cashondelivery" name="payment" class="payment" type="radio"></div>
                    </div>


                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_coupon">
                        <h3>COUPON</h3>
                        
                            <div class="coupon_input_frame">
                                <img src="/images/coupon.png" style="height: 3rem;" alt="">
                                <input type="text" class="coupon_input" placeholder="Apply Coupon">
                                <button class="coupon_check_btn" onclick="selectCoupon()">SELECT</button>
                            </div>

                        <ul class="coupon_ul">
                            
                            <div class="empty_coupon"><p class="no_coupon_p">No Coupon Available for this Purchas</p></div>

                            <% coupons.forEach((coupon)=>{ %>

                            <li><%= coupon.couponnname %><p style="font-size: .7rem;">For purchase Between <i class="bi bi-currency-rupee"></i><%= coupon.minamount.toLocaleString() %>-<i class="bi bi-currency-rupee"></i><%= coupon.maxamount.toLocaleString() %></p>
                                <span style="color: rgb(0, 152, 0); font-family: 'Poppins',sans-serif;"><%= coupon.discount %>%</span>
                                <span style="margin-right: 1rem;"><button class="coupon_apply coupon_apply<%= coupon._id %>" onclick="applyCoupon('<%= coupon._id %>')">APPLY</button></span>
                            </li>

                            <% }) %>
                        </ul>
                    </div>

                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_adress">
                        <h3>SELECT ADDRESS</h3>
                        <% userAddress.forEach((address,index)=>{ %>
                            <div class="payment_divs select_adress_div">
                                <input id="add<%= index %>"  class="address" name="address" type="radio" onclick="selectAddress('<%= address._id %>')"><label for="add<%= index %>"><%= address.address %></label>
                            </div>
                        <% }) %>

                    </div>


                </div>
            </div>
            <div class="checkout_right">
                <div class="checkouts_frame checkout_adress_frame" style="pointer-events: none;">
                    <h3>ADDRESS</h3>
                      
                    <div class="adress_frame">

                        <div style="display: flex;justify-content: space-between; width: 100%;">
                            <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                                <label for="firstname" >First Name</label>
                                <input type="text"  value="<%= userAddress[0].firstname %>"  name="firstname" style="width: 100%;" >
                            </span>
                            <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                                <label for="lastname">Last Name</label>
                                <input  type="text" value="<%= userAddress[0].lastname %>" name="lastname" style="width: 100%; padding-left: 1rem" >
                            </span>
                        </div>

                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                           <label for="lastname">Mobile</label>  
                           <input  type="text" value="<%= userAddress[0].mobilenum %>" name="mobilenum" style="width: 100%; padding-left: 1rem" >
                       </span>

                       
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                            <label for="firstname" >Country</label>
                            <input type="text" value="<%= userAddress[0].country %>"  name="country" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                            <label for="lastname">State</label>
                            <input  type="text" value="<%= userAddress[0].state %>" name="state" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  
                    
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 78%;">
                            <label for="firstname" >District</label>
                            <input type="text" value="<%= userAddress[0].district %>"  name="district" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 20%;">
                            <label for="lastname">Zip</label>
                            <input  type="text" value="<%= userAddress[0].zip %>" name="zip" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  


                    <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                     <label for="lastname">Address</label>  
                     <textarea name="address" class="adress_text_area"><%= userAddress[0].address %></textarea>
                 </span>

                    </div>
                    
                </div>
                <div class="checkouts_frame checkouts_frame_add_new_address">
                    <div class="add_new_adress">ADD NEW ADDRESS<button class="droup_right_btn"><i class="bi plus_btn bi-plus"></i></button></div>
                    <form id="adrress_form" method="post">
                <div class="adress_frame adrees_add_drop">

                  <div style="display: flex;justify-content: space-between; width: 100%;">
                      <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                          <label for="firstname" >First Name</label>
                          <input type="text"  name="firstname" style="width: 100%;" >
                      </span>
                      <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                          <label for="lastname">Last Name</label>
                          <input  type="text" name="lastname" style="width: 100%; padding-left: 1rem" >
                      </span>
                  </div>

                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                     <label for="lastname">Mobile</label>  
                     <input  type="number" name="mobilenum" style="width: 100%; padding-left: 1rem" >
                 </span>

                 
                 <div style="display: flex;justify-content: space-between; width: 100%;">
                  <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                      <label for="firstname">Country</label>
                      <input type="text"  name="country" style="width: 100%;" >
                  </span>
                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                      <label for="lastname">State</label>
                      <input  type="text" name="state" style="width: 100%; padding-left: 1rem" >
                  </span>
              </div>  
              
                 <div style="display: flex;justify-content: space-between; width: 100%;">
                  <span style="display: flex; flex-direction: column;gap: .2rem; width: 78%;">
                      <label for="firstname" >District</label>
                      <input type="text"  name="district" style="width: 100%;" >
                  </span>
                  <span style="display: flex; flex-direction: column;gap: .2rem;  width: 20%;">
                      <label for="lastname">Zip</label>
                      <input  type="text" name="zip" style="width: 100%; padding-left: 1rem" >
                  </span>
              </div>  
              
              
              <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
               <label for="lastname">Address</label>  
               <textarea name="address" class="adress_text_area"></textarea>
            </span>
            <p class="error_msg"></p>
            <input class="add_new_btn" onclick="addNewAddress()" type="button" value="ADD"> 
         </div>
        </form>
         
      </div>
      
      <div class="checkouts_frame checkout_total_price">
         <h3>SUMMARY</h3>
         <div class="summary_frame">
            <p>Subtotal <span><i class="bi bi-currency-rupee"></i><span class="sub_total"><%= cartTotal %></span></span></p>
                        <p>Shipping <span style="color: rgb(0, 160, 0);">FREE</span></p>
                        <p>Coupon <span class="coupon">Nill</span></p>
                        <p>Order Total <span><i class="bi bi-currency-rupee"></i><span class="order_total"><%= cartTotal %></span></span></p>
                        <span><p class="er_msg"></p></span>
                        <button onclick="proceed(event,'<%= userAddress[0]._id %>')" class="proceed_btn">PROCEED</button>
                    </div>
                </div>
            </div>
          </div>

<%- include('../../common/footer.ejs') %>
    </div>
    
    <script src="/javascript/product-open.js"></script>
    <script src="/javascript/btnsearch.js"></script>
    <script src="/javascript/checkout.js"></script>

<%- include('../../common/end.ejs') %>
