<%- include('../components/head.ejs') %>
   <div class="home_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="home_content">

          
            <!-- =============================================================================================================== -->


            <header>
               <ul>
                  <li class="<%= state==='home'? 'selected' : '' %>"><a href="/home">HOME</a></li>
                  <li><a href="#">ALL PRODUCTS</a></li>
                  <li class="category_li">
                     <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
                     <table class="drop_bar">
                        <% categories.forEach((cat) => { %>
                           <tr>
                           <% cat.subcategory.forEach((sub) => { %>
                           <td><a href="/subcategory/<%= sub.name %>"><%= sub.name %></a></td>
                           <% }) %>
                           </tr>
                       <% }) %>
                     </table>
                  </li>
                  <li class="<%= state==='MOBILES'? 'selected' : '' %>"><a href="/subcategory/MOBILES">MOBILES</a></li>
                  <li class="<%= state==='LAPTOPS'? 'selected' : '' %>"><a href="/subcategory/LAPTOPS">LAPTOPS</a></li>
                  <li class="<%= state==='PAINTINGS'? 'selected' : '' %>"><a href="/subcategory/PAINTINGS">PAINTINGS</a></li>
               </ul>
            </header>


            <!-- ========================================================================================================= -->


            <div class="banner">
               <button><i class="bi banner_chevron bi-chevron-left"></i></button>
               <img src="/images/banner_1.png" alt="" style="width: 100%; height: 100%;">
               <button><i class="bi banner_chevron bi-chevron-right"></i></button>
            </div>

            <!-- ========================================================================================================= -->

                <!-- ------------------------- CATEGORY --------------------------- -->



            <div class="category_div">
               <% categories.forEach((cat) => { %>
                  <div class="category_frame"><div class="cat_img_div" onclick="window.location.href = '/category/<%= cat.categoryname %>'"><img class="cat_img" src="<%= cat.catimageUrl %>" alt=""><p><%= cat.categoryname %></p></div></div>
               <% }) %>
               </div>
               
            
               
               
             <!-- ============================================================================================================================ -->


             <!-- ------------------------- MENS SHIRTS --------------------------- -->


             <div class="product_frame">

                <div class="product_top">MENS SHIRTS</div>
                <div class="product_bottom">

                   <% mensShirts.forEach((list) => { %>
                   <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                      

                     <div class="top">
                        <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                           <i class="bi wish_icon<%= list._id %> <%= (() => {
                              const productIdObjectId = new ObjectId(list._id );
                              const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                              return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                          })() %>"></i>
                        </button>
                        <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                      </div>
                      <div class="center">
                        <div class="name_div">
                        <p class="product_name"><%= list.productname %></p>
                        </div>
                        <div class="price_div">
                           <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                           <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                        </div>
                     </div>
                     <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                     
                  </div>
                  
                  <% }) %>
               </div>
            </div>

               
             <!-- --------------------------------------------------------------------------------------------------------- -->


             <!-- ------------------------- MENS TSHIRTS --------------------------- -->


             <div class="product_frame">

                <div class="product_top">MENS T-SHIRTS</div>
                <div class="product_bottom">

                   <% mensTshirts.forEach((list) => { %>
                   <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                      

                     <div class="top">
                        <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                           <i class="bi wish_icon<%= list._id %> <%= (() => {
                              const productIdObjectId = new ObjectId(list._id );
                              const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                              return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                          })() %>"></i>
                        </button>
                        <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                      </div>
                      <div class="center">
                        <div class="name_div">
                        <p class="product_name"><%= list.productname %></p>
                        </div>
                        <div class="price_div">
                           <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                           <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                        </div>
                     </div>
                     <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                     
                  </div>
                  
                  <% }) %>
               </div>
            </div>

               
             <!-- --------------------------------------------------------------------------------------------------------- -->


                          <!-- ------------------------- WOMENS KURTAS --------------------------- -->


                          <div class="product_frame">

                           <div class="product_top">WOMENS KURTAS</div>
                           <div class="product_bottom">
           
                              <% womensKurtas.forEach((list) => { %>
                              <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                                 
           
                                <div class="top">
                                   <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                                    <i class="bi wish_icon<%= list._id %> <%= (() => {
                                       const productIdObjectId = new ObjectId(list._id );
                                       const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                       return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                                   })() %>"></i>
                                 </button>
                                   <img src="<%= list.productimg[0] %>" style="width: 84%; height: 94%;" alt="">
                                 </div>
                                 <div class="center">
                                   <div class="name_div">
                                   <p class="product_name"><%= list.productname %></p>
                                   </div>
                                   <div class="price_div">
                                      <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                                      <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                                   </div>
                                </div>
                                <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
           
                                
                             </div>
                             
                             <% }) %>
                          </div>
                       </div>
           
                          
                 <!-- --------------------------------------------------------------------------------------------------------- -->
               

                          <!-- ------------------------- WOMENS SAREE --------------------------- -->


                          <div class="product_frame">

                           <div class="product_top">WOMENS KURTAS</div>
                           <div class="product_bottom">
           
                              <% womensSaree.forEach((list) => { %>
                              <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                                 
           
                                <div class="top">
                                   <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                                    <i class="bi wish_icon<%= list._id %> <%= (() => {
                                       const productIdObjectId = new ObjectId(list._id );
                                       const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                       return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                                   })() %>"></i>
                                 </button>
                                   <img src="<%= list.productimg[0] %>" style="width: 84%; height: 94%;" alt="">
                                 </div>
                                 <div class="center">
                                   <div class="name_div">
                                   <p class="product_name"><%= list.productname %></p>
                                   </div>
                                   <div class="price_div">
                                      <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                                      <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                                   </div>
                                </div>
                                <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
           
                                
                             </div>
                             
                             <% }) %>
                          </div>
                       </div>
           
                          
                 <!-- --------------------------------------------------------------------------------------------------------- -->


    


                 <div class="promo_div">
                  <div class="promo_sec"><img src="/images/promo 1.png"><p>Best quality </p></div>
                  <div class="promo_sec"><img src="/images/promo 2.png"><p>Free delivery</p></div>
                  <div class="promo_sec"><img src="/images/promo 3.png"><p>1 year warranty</p></div>
                 </div>
     



            <!-- ---------------------------------------------------------------------------------------------------------------------- -->

                     <!-- ------------------------- MENS SHOES --------------------------- -->



            <div class="product_frame">

               <div class="product_top">MENS SHOES</div>
               <div class="product_bottom">

                  <% mensShoes.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>


            <!-- ---------------------------------------------------------------------------------------------------------------------- -->


                 <!-- ------------------------- WOMENS FOOTWEAR --------------------------- -->



            <div class="product_frame">

               <div class="product_top">WOMENS FOOTWEAR</div>
               <div class="product_bottom">

                  <% womensFootwear.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>

            <!-- ------------------------------------------------------------------------------------------------- -->


            <div class="banner_2">
               <img src="/images/banner 2.jpg" height="100%" width="100%" alt="">
            </div>

      
            <!-- ------------------------------------------------------------------------------------------------------------------ -->


                <!-- ------------------------- MENS PANTS --------------------------- -->



            <div class="product_frame">

               <div class="product_top">MENS PANTS</div>
               <div class="product_bottom">

                  <% mensPant.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>


      
            <!-- ------------------------------------------------------------------------------------------------------------------ -->

                  <!-- ------------------------- WOMENS TOP --------------------------- -->



            <div class="product_frame">

               <div class="product_top">WOMENS TOP</div>
               <div class="product_bottom">

                  <% womensTop.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>



            <!-- ---------------------------------------------------------------------------------------------------- -->
      

                  <!-- ------------------------- KIDS FROCKS --------------------------- -->



            <div class="product_frame">

               <div class="product_top">KIDS FROCKS</div>
               <div class="product_bottom">

                  <% kidsFrocks.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>





            <!-- ---------------------------------------------------------------------------------------------------- -->
      

                <!-- ------------------------- KIDS TOYS --------------------------- -->



            <div class="product_frame">

               <div class="product_top">KIDS TOYS</div>
               <div class="product_bottom">

                  <% kidsToys.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>



            <!-- ---------------------------------------------------------------------------------------------------- -->
      

              <!-- ------------------------- BABY WIPES --------------------------- -->



            <div class="product_frame">

               <div class="product_top">BABY WIPES</div>
               <div class="product_bottom">

                  <% babyWipes.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>



            <!-- ---------------------------------------------------------------------------------------------------- -->
            

            <div class="brands_frame">
               <img src="/images/oppo.png" class="band_img" alt="">
               <img src="/images/apple.png" class="band_img" alt="">
               <img class="redmi_png" src="/images/redmi.jpg" class="band_img" alt="">
               <img src="/images/realmi.png" class="band_img" alt="">
               <img src="/images/samsung.png" class="band_img" alt="">
             </div>



            <!-- --------------------------------------------------------------------------------------------------------------------------------- -->


            <!-- ------------------------- BEST  MOBILES --------------------------- -->


                      <div class="product_frame">

                        <div class="product_top">BEST  MOBILES</div>
                        <div class="product_bottom">
         
                           <% mobiles.forEach((list) => { %>
                           <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                              
         
                             <div class="top">
                                <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                                 <i class="bi wish_icon<%= list._id %> <%= (() => {
                                    const productIdObjectId = new ObjectId(list._id );
                                    const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                    return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                                })() %>"></i>
                              </button>
                                <img src="<%= list.productimg[0] %>" style="width: 89%; height: 90%; object-fit: contain;" alt="">
                              </div>
                              <div class="center">
                                <div class="name_div">
                                <p class="product_name"><%= list.productname %></p>
                                </div>
                                <div class="price_div">
                                   <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                                   <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                                </div>
                             </div>
                             <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
         
                             
                          </div>
                          
                          <% }) %>
                       </div>
                    </div>
         
         
 
                      <!-- ---------------------------------------------------------------------------------------------------- -->
      

                <!-- ------------------------- BEST LAPTOPS --------------------------- -->


                      <div class="product_frame">

                        <div class="product_top">BEST  LAPTOPS</div>
                        <div class="product_bottom">
         
                           <% laptops.forEach((list) => { %>
                           <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                              
         
                             <div class="top">
                                <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                                 <i class="bi wish_icon<%= list._id %> <%= (() => {
                                    const productIdObjectId = new ObjectId(list._id );
                                    const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                    return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                                })() %>"></i>
                              </button>
                                <img src="<%= list.productimg[0] %>" style="width: 89%; height: 90%; object-fit: contain;" alt="">
                              </div>
                              <div class="center">
                                <div class="name_div">
                                <p class="product_name"><%= list.productname %></p>
                                </div>
                                <div class="price_div">
                                   <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                                   <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                                </div>
                             </div>
                             <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
         
                             
                          </div>
                          
                          <% }) %>
                       </div>
                    </div>
         
         
         
 
                      <!-- ---------------------------------------------------------------------------------------------------- -->
      

                  <!-- ------------------------- BEST  FIRDGES --------------------------- -->



                      <div class="product_frame">

                        <div class="product_top">BEST  FIRDGES</div>
                        <div class="product_bottom">
         
                           <% fridge.forEach((list) => { %>
                           <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                              
         
                             <div class="top">
                                <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                                 <i class="bi wish_icon<%= list._id %> <%= (() => {
                                    const productIdObjectId = new ObjectId(list._id );
                                    const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                    return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                                })() %>"></i>
                              </button>
                                <img src="<%= list.productimg[0] %>" style="width: 89%; height: 90%; object-fit: contain;" alt="">
                              </div>
                              <div class="center">
                                <div class="name_div">
                                <p class="product_name"><%= list.productname %></p>
                                </div>
                                <div class="price_div">
                                   <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                                   <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                                </div>
                             </div>
                             <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
         
                             
                          </div>
                          
                          <% }) %>
                       </div>
                    </div>
         
         
         
                     <!-- ---------------------------------------------------------------------------------------------------- -->
         

              <!-- ------------------------- BEST WATCHES --------------------------- -->



            <div class="product_frame">

               <div class="product_top">BEST WATCHES</div>
               <div class="product_bottom">

                  <% mensWatches.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 90%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>

               <!-- -------------------------------------------------------------------------------------------- -->

          <!-- ------------------------- TRENDING HEADSETS  --------------------------- -->

                        

            <div class="product_frame">

               <div class="product_top">TRENDING HEADSETS</div>
               <div class="product_bottom">

                  <% headset.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 90%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>
               
               
               
               
            <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

            <!-- ------------------------- TOP TELEVISIONS  --------------------------- -->


            <div class="product_frame">

               <div class="product_top">TOP TELEVISIONS</div>
               <div class="product_bottom">

                  <% tv.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 95%; height: 70%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>
               
               

               <!-- -------------------------------------------------------------------------------------------- -->

            <!-- ------------------------- DECOURATION PAINTINGS  --------------------------- -->


            <div class="product_frame">

               <div class="product_top">DECOURATION PAINTINGS</div>
               <div class="product_bottom">

                  <% painting.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 95%; height: 70%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>
               
               

               <!-- -------------------------------------------------------------------------------------------- -->

               <!-- ------------------------- TOP BEDSHEETS  --------------------------- -->


            <div class="product_frame">

               <div class="product_top">KITCHEN ITEMS</div>
               <div class="product_bottom">

                  <% bedsheet.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 90%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>

                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>
               
               

               <!-- -------------------------------------------------------------------------------------------- -->

            <!-- ------------------------- KITCHEN ITEMS  --------------------------- -->


            <div class="product_frame">

               <div class="product_top">KITCHEN ITEMS</div>
               <div class="product_bottom">

                  <% utensils.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                       <button class="wish_btn" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>                     </button>
                       <img src="<%= list.productimg[0] %>" style="width: 95%; height: 70%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn">ADD TO CART</button></div>
                 </div>
                 
                 <% }) %>
              </div>
           </div>
               
               

               <!-- -------------------------------------------------------------------------------------------- -->
                
               
               <%- include('../../common/footer.ejs') %>
            </div>
         </div>


<script src="/javascript/addtowish.js"></script>
<script src="/javascript/addtocart.js"></script>
<script src="/javascript/product-open.js"></script>

<%- include('../../common/end.ejs') %>