<%- include('../components/head.ejs') %>
    <div class="wrapper summary_wrapper">
        <%- include('../components/top_nav.ejs') %>
        <div class="content checkout_content">

            <div class="checkout_left">

                <!-- ----------------------------------- -->

                <div class="checkout_left_top">

                  <% orderProductDetails.forEach((list)=>{ %>

                    <div class="product" style="pointer-events: none;">
                        <div class="image_sec"><img src="<%= list.productId.productimg[0] %>" style="width: 11rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name"><%= list.productId.productname %></p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                <option value=""> Qty:<%= list.quantity %></option>
                              </select>
                              <div class="stock_left"><%= list.productId.stock %> LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee" style="color: red; font-size: .7rem;"></i><p class="old_price"><%= list.productId.oldprice.toLocaleString() %></p></span>
                              <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee"></i><p class="new_price new_price<%= list.productId._id %>"><%= list.quantity * list.productId.newprice.toLocaleString() %></p></span>
                              <p class="discount"><%= Math.round(100 - (list.productId.newprice / list.productId.oldprice * 100)) %>%</p>
                             </div>

                        <div class="color_size">
                       <% if(list.size){ %>
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
               
                                <span class="label_span">
                                 <input id="<%= list.size %>" value="<%= list.size %>" name="size" type="radio" >
                                <label><%= list.size %></label>
                                </span>
                                        
                            </div>
                       <% } %>
                            <!-- ------------------------------------- -->

                <% if(list.color){ %>
                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>
                           <span style="background-color:<%= list.color %> ;" class="label_span_color">
                              <input  id="<%= list.color %>" name="<%= list.color %>" value="<%= list.color %>" type="radio" >
                              <label></label>
                            </span>
                     </div>

                     <% } %>

                           </div>
                           <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                              <% if(list.productId.returns) { %>
                                 <i class="bi bi-check"></i>
                                 <% } else{ %>
                                 <i class="bi bi-x"></i>
                                 <% } %>
                           </div>
                        </div>

                     </div>

                 <% }) %>

                </div>


              <!-- ----------------------------------- -->


            </div>
            <div class="checkout_right">
                <div class="checkouts_frame checkout_adress_frame">
                    <h3>ADDRESS</h3>
                    <p><%= address.firstname + ' ' + address.lastname  %></p>
                    <p><%= address.mobilenum %></p>
                    <div style="display: flex; gap: .2rem;">
                     <p><%= address.country %></p>
                     <p><%= address.state %></p>
                     <p><%= address.district %></p>
                  </div>
                    <p><%= address.zip %></p>
                    <p>
                       <%= address.address %>
                    </p>
                </div>

                <div class="checkouts_frame checkout_payment_methode">
                    <h3>PAYMENT METHODE</h3>
                    <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/<%= paymentMethode %>.png" alt=""></div><label for="<%= paymentMethode %>"><%= paymentMethode %></label><input id="<%= paymentMethode %>" name="payment" checked type="radio"></div>
                </div>

      <div class="checkouts_frame checkout_total_price">
         <h3>SUMMARY</h3>
         <div class="summary_frame">
            <p>Subtotal <span><i class="bi bi-currency-rupee"></i><%= cartTotal %></span></p>
                <p>Shipping <span style="color: rgb(0, 160, 0);">FREE</span></p>
                <p>Coupon <span><%= couponDiscount? '-'+ couponDiscount : 'Nill' %></span></p>
                <p>Order Total <span><i class="bi bi-currency-rupee"></i><%= orderTotal %></span></p>
                <button class="proceed_btn" onclick="window.location.href = '/proceed_to_pay' ">PROCEED TO PAY</button>
                    </div>
                </div>
            </div>
          </div>

<%- include('../../common/footer.ejs') %>
    </div>
    

<script>


const dropBtn = document.querySelector('.droup_right_btn')
const plusIcon = document.querySelector('.plus_btn')
const dropFrame = document.querySelector('.adrees_add_drop')

dropBtn.addEventListener('click',()=>{
if(plusIcon.classList.contains('bi-plus')){
    plusIcon.classList.replace('bi-plus','bi-dash-lg')
    dropFrame.style.bottom = '3.5rem'
}
else{
    plusIcon.classList.replace('bi-dash-lg','bi-plus')
    dropFrame.style.bottom = '27rem'
}

})


</script>


<%- include('../../common/end.ejs') %>
