<%- include('../components/head.ejs') %>
   <div class="wrapper order_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content order_content">
            <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>

            <%- include('../components/user_left.ejs') %>
            <div class="right_content">
               <table>
                  <thead>
                     <tr>
                        <th style="width: 30%;">PRODUCT</th>
                        <th style="width: 15%;">ORDER ID</th>
                        <th style="width: 10%;">AMOUNT</th>
                        <th style="width: 10%;">ORDER DATE</th>
                        <th style="width: 12%;">STATUS</th>
                     </tr>
                  </thead>
               
                  <tbody>

                     <% userOrders.forEach((list)=>{ %>

                  <tr class="td_tr" onclick="location.href='/account/order_details?orderId=<%=list._id%>'">
                     <td class="product_td">
                        <div class="img_section"><img src="<%= list.productId.productimg[0] %>" style="width: 7rem;" alt=""></div>
                        <div class="product_details">
                           <p class="order_product_name"><%= list.productId.productname %></p>
                           <p class="order_size">Size : <span style="font-size: .9rem;"><%= list.size %></span></p>
                           <p class="order_color">Color : <span style="font-size: .9rem; color: <%= list.color %>;"><%= list.color.toUpperCase() %></span></p>
                           <p class="order_color">Qty : <span><%= list.quantity %></span></p>
                        </div>
                     </td>
                     <td ><%= list.productId._id %></td>
                     <td style="font-family: 'Poppins',sans-serif; font-weight: 600; color: green;"><i class="bi bi-currency-rupee"></i><%= list.productId.newprice %></td>
                     <td style="font-family: 'Poppins', sans-serif; font-weight: 600; color: rgba(0, 0, 0, 0.748);">
                        <%= `${list.order_date.getDate()}-${list.order_date.getMonth() + 1}-${list.order_date.getFullYear()}` %>
                      </td>
                      <td class="status status<%= list._id %>"><%= list.status.toUpperCase() %></td>
                  </tr>
                        <% }) %>
                  </tbody>

               </table>
            </div>
         </div>
   </div>

<%- include('../../common/footer.ejs') %>
<script src="/javascript/loading.js"></script>
<% userOrders.forEach((list)=>{ %>

<script>

document.addEventListener('DOMContentLoaded',()=>{

   const status = document.querySelector('.status<%= list._id %>')
   
   if(status.innerHTML == 'PENDING'){
     status.style.color = 'rgb(228, 202, 0)'
   }
   else if(status.innerHTML == 'CONFIRMED'){
      status.style.color = 'rgb(255, 170, 0)'
   }
   else if(status.innerHTML == 'SHIPPED'){
      status.style.color = 'rgb(4, 2, 131)'
   }
   else if(status.innerHTML == 'DELIVERED'){
      status.style.color = 'rgb(0, 170, 0)'
   }
   else{
      status.style.color = 'red'

   }
   
})

</script>

<% }) %>


<%- include('../../common/end.ejs') %>