<%- include('../components/head.ejs') %>
    <div class="wrapper summary_wrapper">
        <%- include('../components/top_nav.ejs') %>
        <div class="content checkout_content">

            <div class="checkout_left">

                <!-- ----------------------------------- -->

                <div class="checkout_left_top">

                  <% orderProductDetails.forEach((list)=>{ %>

                    <div class="singleproduct" style="display: none;"><%- JSON.stringify(list.productId.newprice) %></div>

                    <div class="product" style="pointer-events: none;">
                        <div class="image_sec"><img src="<%= list.productId.productimg[0] %>" style="width: 11rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name"><%= list.productId.productname %></p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <select name="quantity" style="outline: none; padding: .3rem;">
                                <option value=""> Qty:<%= list.quantity %></option>
                              </select>
                              <div class="stock_left"><%= list.productId.stock %> LEFT</div>
                           </div>
                           <div style="display: flex; gap: .7rem; align-items: center;">
                              <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee" style="color: red; font-size: .7rem;"></i><p class="old_price"><%= list.productId.oldprice.toLocaleString() %></p></span>
                              <span style="display: flex; align-items: center;"><i class="bi bi-currency-rupee"></i><p class="new_price new_price<%= list.productId._id %>"><%= Number(list.quantity * list.productId.newprice).toLocaleString() %></p></span>
                              <p class="discount"><%= Math.round(100 - (list.productId.newprice / list.productId.oldprice * 100)) %>%</p>
                             </div>

                        <div class="color_size">
                       <% if(list.size){ %>
                            <div class="size_li">
                                <p style="font-family: 'Poppins',sans-serif; font-weight: 500;font-size: .98rem; color: black;">SIZE :</p>
               
                                <span class="label_span">
                                 <input id="<%= list.size %>" value="<%= list.size %>" name="size" type="radio" >
                                <label><%= list.size %></label>
                                </span>
                                        
                            </div>
                       <% } %>
                            <!-- ------------------------------------- -->

                <% if(list.color){ %>
                            
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>
                           <span style="background-color:<%= list.color %> ;" class="label_span_color">
                              <input  id="<%= list.color %>" name="<%= list.color %>" value="<%= list.color %>" type="radio" >
                              <label></label>
                            </span>
                     </div>

                     <% } %>

                           </div>
                           <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                              <% if(list.productId.returns) { %>
                                 <i class="bi bi-check"></i>
                                 <% } else{ %>
                                 <i class="bi bi-x"></i>
                                 <% } %>
                           </div>
                        </div>

                     </div>

                 <% }) %>

                </div>


              <!-- ----------------------------------- -->


            </div>
            <div class="checkout_right">
                <div class="checkouts_frame checkout_adress_frame">
                    <h3>ADDRESS</h3>
                    <p><%= address.firstname + ' ' + address.lastname  %></p>
                    <p><%= address.mobilenum %></p>
                    <div style="display: flex; gap: .2rem;">
                     <p><%= address.country %></p>
                     <p><%= address.state %></p>
                     <p><%= address.district %></p>
                  </div>
                    <p><%= address.zip %></p>
                    <p>
                       <%= address.address %>
                    </p>
                </div>

                <div class="checkouts_frame checkout_payment_methode">
                    <h3>PAYMENT METHODE</h3>
                    <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/<%= paymentMethode %>.png" alt=""></div><label for="<%= paymentMethode %>"><%= paymentMethode %></label><input id="<%= paymentMethode %>" name="payment" checked type="radio"></div>
                </div>

      <div class="checkouts_frame checkout_total_price">
         <h3>SUMMARY</h3>
         <div class="summary_frame">
            <p>Subtotal <span><i class="bi bi-currency-rupee"></i><spa class="subTotal"><%= cartTotal %></spa></span></p>
                <p>Shipping <span style="color: rgb(0, 160, 0);">FREE</span></p>
                <p>Coupon <span><%= couponDiscount? '-'+ couponDiscount : 'Nill' %></span></p>
                <p>Order Total <span><i class="bi bi-currency-rupee"></i><%= orderTotal %></span></p>
                <button class="proceed_btn" type="button">PROCEED TO PAY</button>
                    </div>
                </div>
            </div>
          </div>

<%- include('../../common/footer.ejs') %>
    </div>
   
    
<button id="rzp-button1">Pay</button>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

const singleProductPrice = JSON.parse(document.querySelector('.singleproduct').innerHTML)
const subTotal = document.querySelector('.subTotal')

if(subTotal.innerHTML == 0){
    subTotal.innerHTML = singleProductPrice
}


const proceed_btn = document.querySelector('.proceed_btn')

proceed_btn.addEventListener('click',async(e)=>{

    e.preventDefault()

    try {

        const response = await fetch('/proceed_to_pay',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            }
        })

        const result = await response.json()
        
        if(result.cashondelivery){  
          window.location.href = '/confirm_order'
        }
        else{
            const order = result.order

            const amountInRupees = order.amount;
            const amountInPaise = amountInRupees * 100; 

            const options = {
            "key": "rzp_test_QkuyEncwGctTLt",
            "amount": amountInPaise, 
            "currency": "INR",
            "name": "LABIO MART",
            "description": "Test Transaction",
            "image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7tFc6iphTkXLeFLe4FyL1mGf_Fx9632ta6w&usqp=CAU",
            "order_id": order.id,
            "handler": function (response) {
                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Labeeb ct",
                "email": "ctlabeebthaliyil@gmail.com",
                "contact": "8590471530" 
            },
            "notes": {
                "address": "Labio Mart Office"
            },
            "theme": {
                "color": "#FF0000"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

        async function verifyPayment(response,order){
            try {

                const veryfyResponse = await fetch('/veryfy_payment',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({response,order})
                })

                const result = await veryfyResponse.json()
                if(result.success){
                    window.location.href = '/confirm_order'
                }else{
                    Swal.fire({
                    title: "Payment Failed",
                    text: "You clicked the button!",
                    icon: "error"
                    });
                    setTimeout(() => {
                        window.location.href = '/summary'
                    }, 1000);
                }
                
            } catch (error) {
                console.log('Error in verifyPayment',error);
            }
        }


        }

    } catch (error) {
        console.log('Erro in procced to pay',error);
    }
})



</script>


<%- include('../../common/end.ejs') %>
