<%- include('../components/head.ejs') %>
    
    <div class="wrapper orderopen_wrapper">

      <%- include('../components/top_nav.ejs') %> 

      <div class="content order_open_content">

        <h3 class="order_id">ORDER ID : <span>832802746662321</span></h3>

        <div class="order_frames order_adress_frame">
           <div class="delivery_adress_text">Delivery Address</div>
           <div class="adrress_details">
             <h4 class="user_name">Labeeb ct</h4>
             <div class="user_address">
                <p><%= shippAddress.country %></p>
                <p><%= shippAddress.state %></p>
                <p><%= shippAddress.district %></p>
                <p><%= shippAddress.zip %></p>
                <p><%= shippAddress.address %></p>
             </div>
             <h4 class="user_phone">Phone number</h4>
             <p><%= shippAddress.mobilenum %></p>
           </div>
        </div>

        <div class="order_frames order_product_frame product<%= userOrder.productId._id %>" onclick="productOpen(event,'<%= userOrder.productId._id %>')">
              <div class="product_img_div"><img src="<%= userOrder.productId.productimg[0] %>" style="height: 8.5rem;"></div>
              <div class="product_details_div">
                  <div class="details_div">
                    <p class="product_name"><%= userOrder.productId.productname %></p>
                    <p class="color_size">SIZE : <span><%= userOrder.size %></span></p>
                    <p class="color_size">COLOR : <span style="color: <%= userOrder.color %>;"><%= userOrder.color.toUpperCase() %></span></p>
                    <p class="color_size">QTY : <span><%= userOrder.quantity %></span></p>
                    <p class="color_size">PAYMENT : <span><%= userOrder.payment_methode.toUpperCase() %></span></p>
                    <div style="display: flex; gap: .9rem; align-items: center;">
                      <p class="old_price">₹<%= userOrder.productId.oldprice %></p>
                      <p class="new_price">₹<%= userOrder.productId.newprice %></p>
                      <p class="discount"><%= Math.round(100 - (userOrder.productId.newprice / userOrder.productId.oldprice * 100)) %>%</p>
                   </div> 
                  </div>
              </div>
              <div class="order_status status<%= userOrder._id %>"><%= userOrder.status.toUpperCase() %></div>
        </div>


        <div class="order_frames review_div">
           <div class="reviewproduct">Rate your Product</div>
           <div class="review_frame">
            <textarea class="review_textarea" placeholder="Review your Product here.." spellcheck="false"></textarea>
            <button class="review_submit_btn" >Submit Review</button>
           </div>
        </div>

        </div>

        <%- include('../../common/footer.ejs') %>

        </div>


<script>


const rateProduct = document.querySelector('.reviewproduct')
const reviewProduct = document.querySelector('.review_frame')
rateProduct.addEventListener('click',()=>{
   reviewProduct.style.display = 'block'
   reviewProduct.style.height = '10rem' 
})


document.addEventListener('DOMContentLoaded',()=>{
   
      const status = document.querySelector('.status<%= userOrder._id %>')
      
      if(status.innerHTML == 'PENDING'){
        status.style.color = 'rgb(228, 202, 0)'
      }
      else if(status.innerHTML == 'CONFIRMED'){
         status.style.color = 'rgb(255, 115, 0)'
      }
      else if(status.innerHTML == 'SHIPPED'){
         status.style.color = 'rgb(4, 2, 131)'
      }
      else if(status.innerHTML == 'DELIVERED'){
         status.style.color = 'rgb(0, 170, 0)'
      }
      else{
         status.style.color = 'red'
   
      }
      
   })
   
   </script>
<script src="/javascript/product-open.js"></script>

<%- include('../../common/end.ejs') %>