<%- include('../components/head.ejs') %>
   <div class="wrapper productopen_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <form action="">
         <div class="content productopen_content">
            <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>
            <div class="main_frame">
               <div class="product_frame">
                  <div class="img_frame">
                     <button type="button" onclick="prevImg()" class="prev_next_btn"><i class="bi left_right_icon bi-caret-left"></i></button>
                     <div>
                     <img src="<%= product.productimg[0] %>" class="product_image_img" alt="">
                   </div>
                   <button type="button" onclick="nextImg()" class="prev_next_btn"><i class="bi left_right_icon bi-caret-right"></i></button>
                  </div>
                  <div class="img_position" style="display: flex; width: 100%; justify-content: space-evenly; margin-bottom: 1rem;">
                     <% product.productimg.forEach((img) => { %>
                        <div style="width: 5rem; border-radius: 0%; cursor: pointer; border: 1px solid rgba(115, 115, 115, 0.277); border-radius: .2rem; overflow: hidden;"><img onmouseover="changeImg('<%= img %>')" class="pro_img_loop" src="<%= img %>" style="width: 100%; height: 100%;" alt=""></div>    
                   <% }) %>
                  </div>
               </div>
               <div class="product_detail_frame">
                  <ul>
                     <li style="font-size: 1.3rem; font-family: 'Poppins',sans-serif; font-weight: 600; color: white;"><%= product.productname %></li>

                     <!-- ================================================================= -->

                     <li style="display: flex; gap: .7rem; align-items: center;">
                        <p class="old_price"><i class="bi bi-currency-rupee"></i><%= product.oldprice.toLocaleString() %></p>
                        <p class="new_price"><i class="bi bi-currency-rupee"></i><%= product.newprice.toLocaleString() %></p>
                        <p class="discount"><%= Math.round(100 - (product.newprice / product.oldprice * 100)) %> %</p>
                     </li>

                    <!-- ========================================== -->

                    
                     <li style="display: flex; gap: .7rem; align-items: center; height: 2rem;">
                        <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                           <% if(product.returns) { %>
                              <i class="bi bi-check"></i>
                              <% } else{ %>
                              <i class="bi bi-x"></i>
                              <% } %>
                        </div>
                     </li>

   
                     <!-- ===================================== -->
                     <div class="top_rating"><span style="font-size: 1.3rem;"><%= rating %></span><i class="bi top_star bi-star-fill"></i><span style="font-size: .7rem; font-family: 'Poppins',sans-serif;">Out of <span><%= reviewCount %></span> Reviews</span></div>
                     
                     <!-- =========================================================== -->
                     <li class="size_li">
                        <p style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgb(255, 255, 255);">SIZE :</p>

                        <% product.size.forEach((size) => { %>


                        <span class="label_span">
                         <input id="<%= size %>" value="<%= size %>" name="size" type="radio" >
                        <label for="<%= size %>" ><%= size %></label>
                        </span>
                        
                        <% }) %>

                     </li>

                     <!-- ======================================== -->

                     <li class="color_li">
                        <p style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(255, 255, 255, 0.947);">COLOR :</p>

                        <% product.color.forEach((color) => { %>

                           <span style="background-color:<%= color %>" class="label_span_color">
                              <input  id="<%= color %>" name="color" value="<%= color %>" type="radio" >
                              <label for="<%= color %>" ></label>
                              </span>
                           
                           <% }) %>

                     </li>

                     <!-- =================================================== -->

                     <li>
                        <div style="display: flex; gap: 1rem; align-items: center;">
                           <% if(product.stock > 0){ %>

                           <select  name="quantity" style="outline: none; padding: .3rem;">
                              <% for (let i = 1; i<=product.stock ; i++) { %>
                                 <option value="<%= i %>">Qty:<%= i %></option>
                             <% } %>
                             
                           </select>

                           <% } %>

                           <% if(product.stock > 0){ %>
                           <div class="stock_left">Hurry only <%= product.stock %> LEFT</div>
                           <% }else{ %>
                           <div class="stock_left">OUT OF STOCK</div>
                           <% } %>

                           <% if(product.stock > 0){ %>

                           <div class="wish_btn_div"><button class="wish_btn" onclick="addToWish(event,'<%= product._id %>')">
                              <i class="bi wish_white wish_icon<%= product._id %> <%= (() => {
                                 const productIdObjectId = new ObjectId(product._id);
                                 const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                                 return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                              })() %>"></i>
                              </button></div>
                        </div>
                        <% } %>

                     </li>


                     <!-- ======================================= -->



                     <li style="height: 10rem; flex-direction: column; align-items: start; gap: .3rem;">
                        <p class="disc_p">Description</p>
                        <div class="discription_frame">
                           <%= product.description %>
                        </div>
                     </li>

                     <!-- ======================================================= -->



                     <li style="height: 4rem;">
                        <p style="font-family:'Times New Roman', Times, serif;">Delivery Within <span style="color: rgb(0, 179, 0);"><%= product.deliverywithin %> Days</span></p>
                     </li>

                     <!-- =================================================================== -->

                     <% if(product.stock > 0){ %>

                     <li class="btn_li" style="display: flex; height: 3rem; justify-content: space-between; width: 90%;">
                        <button onclick="addToCart(event,'<%= product._id %>')" type="button" class="addto_cart_btn addto_cart_btn<%= product._id %>">
                           <%= (() => {
                              const productIdObjectId = new ObjectId(product._id);
                              const isProductInCart = cartExist.find(product => product.productId.equals(productIdObjectId));
                              return isProductInCart ? 'GO TO CART' : 'ADD TO CART' ;
                           })() %>
                          <i class="bi <%= (() => {
                          const productIdObjectId = new ObjectId(product._id);
                          const isProductInCart = cartExist.find(product => product.productId.equals(productIdObjectId));
                          return isProductInCart ? 'bi-arrow-right-short' : 'bi-plus-lg' ;
                          })() %>"></i>
                        </button>
                        <button onclick="checkoutFromProduct('<%= product._id %>')" type="button">BUY NOW</button>
                     </li>

                  <% }else{ %>

                     <li style="display: flex; align-items: center; justify-content: center;">
                              <h5 style="color: red; font-family: 'Poppins',sans-serif; font-size: 1.1rem; letter-spacing: .1rem;">OUT OF STOCK</h5>
                     </li>

                 <% } %>

                  </ul>
               </div>
            </form>
            </div>                  
         </div>
         
                      <!-- ============================================================================================================================ -->




             <div class="product_frame_related">

               <div class="product_top">RELATED PRODUCTS</div>
               <div class="product_bottom">

                  <% relatedProducts.forEach((list) => { %>
                  <div class="product_frame_grid" onclick="productOpen(event,'<%= list._id %>')">
                     

                    <div class="top">
                     <button class="wish_btn_related" onclick="addToWish(event,'<%= list._id %>')">
                        <i class="bi wish_related_pro_icon wish_icon<%= list._id %> <%= (() => {
                           const productIdObjectId = new ObjectId(list._id );
                           const isProductInWishList = wishExist.find(product => product.productId.equals(productIdObjectId));
                           return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                     </button>
                     <img src="<%= list.productimg[0] %>" style="width: 85%; height: 90%;" alt="">
                     </div>
                     <div class="center">
                       <div class="name_div">
                       <p class="product_name"><%= list.productname %></p>
                       </div>
                       <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= list.oldprice.toLocaleString() %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= list.newprice.toLocaleString() %></p>
                       </div>
                    </div>
                    <div class="bottom"><button onclick="addToCart(event,'<%= list._id %>')" class="addto_cart_btn addto_cart_btn<%= list._id %>">
                     <%= (() => {
                        const productIdObjectId = new ObjectId(list._id );
                        const isProductInCart = cartExist.find(product => product.productId.equals(productIdObjectId));
                        return isProductInCart ? 'GO TO CART' : 'ADD TO CART' ;
                     })() %>
                    <i class="bi <%= (() => {
                    const productIdObjectId = new ObjectId(list._id );
                    const isProductInCart = cartExist.find(product => product.productId.equals(productIdObjectId));
                    return isProductInCart ? 'bi-arrow-right-short' : 'bi-plus-lg' ;
                    })() %>"></i>
                   </button>
                  </div>
                    
                 </div>
                 
                 <% }) %>
              </div>
           </div>



           
           <div class="product_frame_related">

            <div class="product_top">Ratings & Reviews</div>
            <h4 class="rating_number"><%= rating/reviewCount || 0 %></h4>
            <h6 class="basedon_tex">Based on <span><%= reviewCount || 0 %></span> Reviews</h6>

            <% if(reviewCount > 0) { %>

            <div class="product_bottom product_review">

               <% ratingAndReview.forEach((ratings)=>{ %>
               
                  <% ratings.review.forEach((reviews)=>{ %>
               <div class="review_frame">
                  <div class="user_img_div">
                     <img class="user_img" src="<%= ratings.userProfile.photo  %>" alt="">
                     </div>
                     <div class="user_review">  
                     <span class="star_rating"><span><%= reviews.rating %></span><i class="bi bi-star-fill"></i></span>
                     <p class="rating_para"><%= reviews.review %></p>
                  </div>
               </div>

               <% }) %>
               <% }) %>
               
            </div>
            
            <% } %>
            
        </div>

              
            <!-- --------------------------------------------------------------------------------------------------------- -->
         <%- include('../../common/footer.ejs') %>
   </div>
<script src="/javascript/loading.js"></script>
<script src="/javascript/checkout.js"></script>
<script src="/javascript/product-open.js"></script>
<script src="/javascript/addtowish.js"></script>
<script src="/javascript/addtocart.js"></script>
<script src="/javascript/btnsearch.js"></script>


<script>

let currentImgIndex = 0

const mainImg = document.querySelector('.product_image_img')

function changeImg(imageSrc){
   mainImg.src = imageSrc
}


function prevImg(){
   currentImgIndex = (currentImgIndex - 1 + document.querySelectorAll('.pro_img_loop').length) % document.querySelectorAll('.pro_img_loop').length;
   mainImg.src = document.querySelectorAll('.pro_img_loop')[currentImgIndex].src;
}
function nextImg(){
   currentImgIndex = (currentImgIndex + 1) % document.querySelectorAll('.pro_img_loop').length;
    mainImg.src = document.querySelectorAll('.pro_img_loop')[currentImgIndex].src;
}


</script>


<%- include('../../common/end.ejs') %>