<%- include('../components/head.ejs') %>
   <div class="wrapper updatepassword_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content updatepassword_content">
            <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>

            <%- include('../components/user_left.ejs') %>
            <div class="right_content">
               <div class="user_msg_frame">
                  <h3>UPDATE PASSWORD</h3>
                  <form style="width: 90%; height: 100%;" id="form" spellcheck="false">
                    <label for="oldpassword">Old Password</label>
                    <input type="password" maxlength="16" name="oldpassword">
  
                    <label for="newpassword">New Password</label>
                    <input type="password" maxlength="16" name="newpassword">
  
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" maxlength="16" name="confirmpassword">

                    <p class="error_msg"></p>

                  <button type="button" class="send_msg_btn">UPDATE</button>
                  </form>
              </div>
            </div>
         </div>
         <%- include('../../common/footer.ejs') %>
   </div>

<script src="/javascript/loading.js"></script>
<script src="/javascript/btnsearch.js"></script>
<script>


const submitBtn = document.querySelector('.send_msg_btn')
const errMsg = document.querySelector('.error_msg')
const passwordRegex = /^(?=.*[A-Z])(?=.*\d).{8,15}$/


submitBtn.addEventListener('click',async(e)=>{
   try {

      e.preventDefault()

      const oldPassword = document.getElementsByName('oldpassword')[0].value
      const newPassword = document.getElementsByName('newpassword')[0].value
      const confirmPassword = document.getElementsByName('confirmpassword')[0].value

      const updateForm = document.getElementById('form')

      const form =new FormData(updateForm)

      if(!oldPassword || !newPassword || !confirmPassword){
         errMsg.innerHTML = 'Please Fill all Fields'
         setTimeout(() => {
            errMsg.innerHTML = ''
         }, 2000);
      }
      else if(!passwordRegex.test(newPassword)){
         errMsg.innerHTML = 'Password need one Uppercase and one Number'
        setTimeout(() => {
            errMsg.innerHTML = ''
        }, 2000);
      }
      else if(newPassword !== confirmPassword){
         errMsg.innerHTML = 'Password Mismatch'
        setTimeout(() => {
            errMsg.innerHTML = ''
        }, 2000);
      }
      else{
         console.log('dd');
         const response = await fetch('/account/update_password',{
         method:'PUT',
         headers:{
            'Content-Type':'application/json'
         },
         body:JSON.stringify(Object.fromEntries(form))
      })

      const result = await response.json()
      if(!response.ok){
        errMsg.innerHTML = result.err
        setTimeout(() => {
            errMsg.innerHTML = ''
        }, 2000);
      }
      else{
        errMsg.innerHTML = 'Password Update Success'
        errMsg.classList.add('succes')
        setTimeout(() => {
           window.location.href = '/home'
        }, 400);
      }
   }  
   } catch (error) {
      console.log('Error in update password',error.message);
   }
})



</script>
<%- include('../../common/end.ejs') %>