<%- include('../components/head.ejs') %>
   <div class="wrapper updatepassword_wrapper">
    <%- include('../components/top_nav.ejs') %>
         <div class="content updatepassword_content">
            <%- include('../components/user_left.ejs') %>
            <div class="right_content">
               <div class="user_msg_frame">
                  <h3>UPDATE PASSWORD</h3>
                  <form action="" style="width: 90%; height: 100%;" spellcheck="false">
                    <label for="oldpassword">Old Password</label>
                    <input type="text" >
  
                    <label for="newpassword">New Password</label>
                    <input type="text" >
  
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="text" >
                    
                  <button type="button" class="send_msg_btn">UPDATE</button>
                  </form>
              </div>
            </div>
         </div>
         <%- include('../../common/footer.ejs') %>
   </div>
<%- include('../../common/end.ejs') %>