<%- include('../components/head.ejs') %>
<div class="wrapper category_wrapper">
    <div class="loading_screen"></div>
    <%- include('../components/top_nav.ejs') %>
    <div class="content category_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>Category Details</h3>
                    <button onclick="location.href = '/admin/category/add_category' ">Add Category</button>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 8%;">CATEGORY _ID</th>
                            <th style="width: 10%;">CATEGORY NAME</th>
                            <th style="width: 10%;">CATEGORY IMAGE</th>
                            <th style="width: 8%;">PRODUCT COUNT</th>
                            <th style="width: 12%;">SUBCATEGORY</th>
                            <th style="width: 7%;">EDIT</th>
                            <th style="width: 5%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach((cat,index)=>{ %>
                            <tr class="td_tr<%= cat._id %>">
                                <td><%= index+1 %></td>
                                <td><%= cat._id %></td>
                                <td><%= cat.categoryname %></td>
                                <td>
                                    <img src="<%= cat.catimageUrl %>" height="65%" width="65%"  alt="">
                                </td>
                                <td>6</td>
                                <td class="sub_li">
                                    <% cat.subcategory.forEach((sub)=>{ %>
                                    <li><%= sub.name %></li>
                                    <% }) %>
                                </td>
                                <td><button class="edit_btn<%= cat._id %>"><i class="bi bi-pencil-square"></i></button></td>
                                <td><button class="delete_btn<%= cat._id %>"><i class="bi bi-trash"></i></button></td>
                            </tr>
                            <% }) %>
                        </tbody>
                      </Table>
                </div>
             </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    
    const loadingScreen = document.querySelector('.loading_screen')
        
        function showLoading(){
            loadingScreen.style.display = 'block'
        }
        
        function hideLoading(){
            loadingScreen.style.display = 'none'
        }
        
        

</script>

<% categories.forEach((cat,index)=>{ %>

<script>


document.addEventListener('DOMContentLoaded',() => {


document.querySelector('.delete_btn<%= cat._id %>').addEventListener('click',async(e) => {
    try {

        e.preventDefault()

        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
        customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-secondary'
    }
        }).then(async(result) => {
        if (result.isConfirmed) {

        showLoading()
        const response = await fetch('/admin/category/deletecategory',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= cat._id %>'})
        })

        const result = await response.json()
        hideLoading()
        if(result.success){
            document.querySelector('.td_tr<%= cat._id %>').remove()
            swalWithBootstrapButtons.fire({
                title: "Deleted!",
                text: "Your file has been deleted.",
                icon: "success"
            });
        }
        else{
            console.log('Category deletion Failed');
        }

    } else if (
        result.dismiss === Swal.DismissReason.cancel
        ) {
        swalWithBootstrapButtons.fire({
            title: "Cancelled",
            text: "Your imaginary file is safe :)",
            icon: "error"
         });
        }
        });
        
    } catch (error) {
        console.log('Error in category delere',error.message);
    }
})

})

document.querySelector('.edit_btn<%= cat._id %>').addEventListener('click',() => {
    window.location.href = '/admin/category/edit_category/<%= cat._id %>'
})


</script>

<% }) %>


<%- include('../../common/end.ejs') %>