<%- include('../components/head.ejs') %>
<div class="wrapper category_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content category_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>Category Details</h3>
                    <button onclick="location.href = '/admin/category/add_category' ">Add Category</button>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 8%;">CATEGORY _ID</th>
                            <th style="width: 10%;">CATEGORY NAME</th>
                            <th style="width: 10%;">CATEGORY IMAGE</th>
                            <th style="width: 8%;">PRODUCT COUNT</th>
                            <th style="width: 12%;">SUBCATEGORY</th>
                            <th style="width: 5%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% categories.forEach((cat,index)=>{ %>
                            <tr class="td_tr<%= cat._id %>">
                                <td><%= index+1 %></td>
                                <td><%= cat._id %></td>
                                <td><%= cat.categoryname %></td>
                                <td>
                                    <img src="<%= cat.catimageUrl %>" height="60px" width="60px"  alt="">
                                </td>
                                <td>6</td>
                                <td class="sub_li">
                                    <% cat.subcategory.forEach((sub)=>{ %>
                                    <li><%= sub %></li>
                                    <% }) %>
                                </td>
                                <td><button class="delete_btn<%= cat._id %>"><i class="bi bi-trash"></i></button></td>
                            </tr>
                            <% }) %>
                        </tbody>
                      </Table>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                        <div class="links">
                            <button class="page_btn" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                        </div>
                        <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


<% categories.forEach((cat,index)=>{ %>

<script>

document.querySelector('.delete_btn<%= cat._id %>').addEventListener('click',async(e) => {
    try {

        e.preventDefault()

        const response = await fetch('/admin/category/deletecategory',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= cat._id %>'})
        })

        const result = await response.json()
    
        if(result.success){
            document.querySelector('.td_tr<%= cat._id %>').remove()
        }
        else{
            console.log('Category deletion Failed');
        }
        
    } catch (error) {
        console.log('Error in category delere',error.message);
    }
})

</script>

<% }) %>


<%- include('../../common/end.ejs') %>