<%- include('../components/head.ejs') %>
<div class="wrapper coupons_wrapper">
    <div class="loading_screen"></div>
    <%- include('../components/top_nav.ejs') %>
    <div class="content coupons_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>Coupon Details</h3>
                    <button onclick="location.href = '/admin/coupons/add_coupon' ">Add Coupon</button>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 20%;">COUPON _ID</th>
                            <th style="width: 12%;">COUPON NAME</th>
                            <th style="width: 8%;">DISCOUNT</th>
                            <th style="width: 10%;">MAX AMOUNT</th>
                            <th style="width: 10%;">MIN AMOUNT</th>
                            <th style="width: 10%;">START DATE</th>
                            <th style="width: 10%;">END DATE</th>
                            <th style="width: 6%;">EDIT</th>
                            <th style="width: 6%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>

                            <% coupons.forEach((coupons,index)=>{ %>
                            <tr class="td_tr<%= coupons._id %>">
                                <td><%= index+1 %></td>
                                <td><%= coupons._id %></td>
                                <td><%= coupons.couponnname %></td>
                                <td><%= coupons.discount + '%' %></td>
                                <td><%= coupons.maxamount.toLocaleString() %></td>
                                <td><%= coupons.minamount.toLocaleString() %></td>
                                <td style="font-size: .8rem;"><%= coupons.startdate.toDateString() %></td>
                                <td style="font-size: .8rem;"><%= coupons.enddate.toDateString() %></td>
                                <td><button class="edit_btn<%= coupons._id %>"><i class="bi bi-pencil-square"></i></button></td>
                                <td><button class="delete_btn<%= coupons._id %>"><i class="bi bi-trash"></i></button></td>
                            </tr>

                            <% }) %>

                        </tbody>
                      </Table>
                </div>
                <div id="pagecount" style="display: none;"><%= page %></div>
                <div id="pagetotalcount" style="display: none;"><%= pagCount %></div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                        <div class="links">
                            <button class="page_btn" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                        </div>
                        <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


<script>
    
    const loadingScreen = document.querySelector('.loading_screen')
        
        function showLoading(){
            loadingScreen.style.display = 'block'
        }
        
        function hideLoading(){
            loadingScreen.style.display = 'none'
        }
        


        
const pagesBtn = document.getElementsByClassName('page_btn')
const pagecount =document.getElementById('pagecount').innerHTML
const pagetotalcount =document.getElementById('pagetotalcount').innerHTML


let currentValue = parseInt(pagecount)


function  active(){
    for(l of pagesBtn){

        l.classList.remove('active_link')
    }
    event.target.classList.add('active_link')
    currentValue = event.target.value
    window.location.href = `/admin/coupons?page=${currentValue}`


}


function prev(){
    if(currentValue > 1){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   

   currentValue--;
   window.location.href = `/admin/coupons?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}

function next()
{
    if(currentValue < pagetotalcount ){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   
   
   currentValue++;
   window.location.href = `/admin/coupons?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')

    }
}



</script>

<% coupons.forEach((coupons,index)=>{ %>


<script>

document.addEventListener('DOMContentLoaded',() => {


document.querySelector('.delete_btn<%= coupons._id %>').addEventListener('click',async(e) => {
    try {

        showLoading()
        const response = await fetch('/admin/coupons/remove_coupon',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= coupons._id %>'})
        })

        const result = await response.json()
        hideLoading()
        if(response.ok){
            if(result.success){
                document.querySelector('.td_tr<%= coupons._id %>').remove()
            }
            else{
                console.log('Failed to delete coupon');
            }
        }

        
    } catch (error) {
        console.log('Error in coupon Delete',error.message);
    }
})




document.querySelector('.edit_btn<%= coupons._id %>').addEventListener('click',(e) => {
    try {
        
        window.location.href = '/admin/coupons/edit_coupon/<%= coupons._id %>'
        
    } catch (error) {
        console.log('Error in coupons Edit',error.message);
    }
})



})



</script>

<% }) %>


<%- include('../../common/end.ejs') %>