<%- include('../components/head.ejs') %>
<div class="wrapper addbanner_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content addbanner_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <form action="/admin/banners/edit_banner/<%= id %>" method="post" class="form_data" enctype="multipart/form-data" spellcheck="false">
                <div class="addcatogery_frame">
                     <img src="<%= Banner.bannerimg %>" class="category_img" id="imagePreview" alt="">
                     <div class="file_div"><span class="choose_file">Choose File</span><input type="file" name="bannerimg" onchange="previewImage(this)" class="input_file"></div>
                     <div style="display: flex; flex-direction: column; gap: .5rem; margin-top: 0rem; width: 80%;">
                        <label for="category name">Banner name</label>
                        <input type="text" value="<%= Banner.bannername %>" style="text-transform: uppercase;" name="bannername" class="input_text">
                        
                        <label for="category name">Banner Heading</label>
                        <input type="text" value="<%= Banner.bannerhead %>" style="text-transform: uppercase;" name="bannerhead" class="input_text">
                        

                        <label for="category name">Banner Amount</label>
                        <input type="number" value="<%= Banner.banneramount %>" name="banneramount" class="input_text">
                        

                        <div style="display: flex;">
                            <span style="display: flex; flex-direction: column; gap: .3rem; width: 80%;">
                               <label for="startdate">Start Date</label>
                               <input type="date" value="<%= Banner.startdate.toISOString().substring(0, 10) %>" name="startdate" style="height: 2rem; width: 50%;">
                            </span>
                            <span style="display: flex; flex-direction: column; gap: .3rem;">
                               <label for="enddate">End Date</label>
                               <input type="date" value="<%= Banner.enddate.toISOString().substring(0, 10) %>" name="enddate" style="height: 2rem; width: 100%;">
                            </span>
                        </div>
                        
                     <p class="error_msg"></p>
                     </div>
                     <div style="width: 100%; margin-top: 0rem; display: flex; justify-content: center; padding: .9rem;">
                     <button type="submit" class="add_btn">Add Banner</button>
                    </div>
                    </div>
                </form> 
        </div>
    </div>
</div>


<script>


function previewImage(input) {  
    var file = input.files[0];
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview').src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}


</script>

<%- include('../../common/end.ejs') %>