<%- include('../components/head.ejs') %>
<div class="wrapper addcoupon_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content addcoupon_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <form action="/admin/coupons/edit_coupon/<%= id %>" method="post" spellcheck="false" id="coupon_form">
            <div class="addcatogery_frame">
                <div style="width: 90%; display: flex; flex-direction: column; gap: .6rem; padding: 1rem;">
                    <label for="couponnname">Coupon Name</label>
                    <input type="text" value="<%= coupon.couponnname %>" name="couponnname">

                    <label for="minamount">MinOrder Amount</label>
                    <input type="number" value="<%= coupon.minamount %>" name="minamount">

                    <label for="maxamount">MaxOrder Amount</label>
                    <input type="number" value="<%= coupon.maxamount %>" name="maxamount">
                    
                    
                    <label for="discount">Discount</label>
                    <input type="number" value="<%= coupon.discount %>" name="discount">

                    <label for="discount">Availability</label>
                    <select style="height: 2.3rem; padding-left: .6rem;border: none;outline: none;" name="avalability" id="">
                        <option value="<%= coupon.avalability %>"><%= coupon.avalability %></option>
                        <option value="forallusers">FOR ALL USERS</option>
                        <option value="limited">LIMITED</option>
                    </select>


                    <label for="startdate">Start Date</label>
                    <input type="date" value="<%= coupon.startdate.toISOString().substring(0, 10) %>" name="startdate">

                    <label for="enddate">End Date</label>
                    <input type="date" value="<%= coupon.startdate.toISOString().substring(0, 10) %>" name="enddate">
                    
                    <p class="error_msg"></p>
                    <div style="width: 100%; margin-top: 0rem; display: flex; justify-content: center; padding: .9rem;">
                        <button type="submit" class="add_btn">Add Coupon</button>
                    </div>

                </div>   
            </div>
            </form> 
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>