<%- include('../components/head.ejs') %>
<div class="wrapper individiualusers_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content individiualusers_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="address_frame">
             <div class="form_frame">
                 <form action="" spellcheck="false">
                 <div class="top">
                     <div class="top_left">
                         <label for="username">User Name</label>
                         <input type="text" value="<%= user.username %>" name="username" >
 
                         <div style="display: flex; gap: 1rem; width: 96%; padding: .5rem 0;">
                             <span style="display: flex; flex-direction: column; gap: .2rem; width: 50%;">
                                 <label for="firstname">First Name</label>
                                 <input type="text" name="firstname" style="width: 100%;" >
                             </span>
                             <span style="display: flex; flex-direction: column; gap: .2rem;  width: 50%;">
                                 <label for="lastname">Last Name</label>
                                 <input type="text" name="lastname" style="width: 110%; padding-left: 0; " >
                             </span>
                         </div>
 
                         <label for="email">Email</label>
                         <input type="text" value="<%= user.email %>" name="email" >
 
                     </div>
                     <div class="top_right">
                         <img src="" class="product_img" alt="">
                         <div class="file_div"><span class="choose_file">Choose File</span><input type="file" class="input_file"></div>
                     </div>
                 </div>
                 <div class="bottom" style="padding: 0 1rem;">

                   <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                      <label for="dob">DOB</label>
                      <input type="date" name="dob" style="width: 94%;">
                  </span>
                  
                     <div style="display: flex; gap: 1rem; width: 94%; margin-top: .4rem;">
                         <span style="display: flex; flex-direction: column; gap: .2rem; width: 27%;">
                         <label for="country">Country</label>
                         <input type="text" name="country" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                     </span>
                     
                     <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                     <label for="state">State</label>
                     <input type="text" name="state" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                     </span>
 
 
                     
                     
                     <span style="display: flex; flex-direction: column; gap: .2rem;  width: 25%;">
                         <label for="district">District</label>
                         <input type="text" name="district" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                     </span>
 
                     <span style="display: flex; flex-direction: column; gap: .2rem; width: 18%;">
                     <label for="zip">Zip</label>
                     <input type="text" name="zip" style="font-family: 'Poppisn',sans-serif; height: 2.5rem; outline: none; font-size: .9rem; width: 100%; padding: .4rem;">
                     
                     </span>
 
                     </div>
 
                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                         <label for="landmark">Landmark</label>
                         <input type="text" name="landmark" style="width: 94%;">
                     </span>
                  
                     <span style="display: flex; flex-direction: column; gap: .2rem; margin-top: .5rem;">
                         <label for="address">Address</label>
                         <textarea name="address" id="text_area"></textarea>
                     </span>

                     
                 </div>
             </form>
             </div>
         </div>
             </div>
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>