<%- include('../components/head.ejs') %>
<div class="wrapper message_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content message_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">

            <% messages.forEach((msg)=>{ %>

            <div class="msg_cont msg_cont<%= msg._id %>" onclick="window.location.href = '/admin/messages/user_message/<%= msg._id %>' ">
             <div class="top"><i class="bi bi-envelope-fill"></i></div>
             <div class="bottom"><%= msg.email %></div>
            </div>

            <% }) %>
           
        </div>
    </div>
</div>
<%- include('../../common/end.ejs') %>