<%- include('../components/head.ejs') %>
<div class="wrapper orders_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content orders_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top"  style="display: flex; justify-content: space-between;padding: 0 1rem;">
                    <h3>Order Details</h3> 
                    <div class="sort_by_div">
                        <p class="sort_recomended">Sort By : All<i class="bi bi-chevron-down"></i></p>
                        <ul class="sort_ul">
                            <li onclick="location.href = '/admin/orders_list?status=all' ">ALL</a></li>
                            <li onclick="location.href = '/admin/orders_list?status=pending' ">PENDING</a></li>
                            <li onclick="location.href = '/admin/orders_list?status=confirmed' ">CONFIRMED</li>
                            <li onclick="location.href = '/admin/orders_list?status=shipped' ">SHIPPED</li>
                            <li onclick="location.href = '/admin/orders_list?status=delivered' ">DELIVERED</li>
                            <li onclick="location.href = '/admin/orders_list?status=cancelled' ">CANCELLED</li>
                        </ul>
                    </div>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 12%;">ORDER _ID</th>
                            <th style="width: 12%;">USER _ID</th>
                            <th style="width: 10%;">PRODUCT NAME</th>
                            <th style="width: 7%;">PRICE</th>
                            <th style="width: 3%;">QN</th>
                            <th style="width: 7%;">PAYMENT METHODE</th>
                            <th style="width: 8%;">ORDER DATE</th>
                            <th style="width: 10%;">STATUS</th>
                        </tr>
                        </thead>
                        <tbody>

                        <% orders.forEach((order,index)=>{ %>


                            <tr style="cursor: pointer;">
                                <td><%= index + 1 %></td>
                                <td><%= order.products._id %></td>
                                <td><%= order.userId %></td>
                                <td><%= order.product[0].productname %></td>
                                <td style="color: rgb(0, 180, 0);"><%= order.product[0].newprice %></td>
                                <td><%= order.products.quantity %></td>
                                <td style="font-size: .8rem;"><%= order.products.payment_methode.toUpperCase() %></td>
                                <td>
                                    <%= `${order.products.order_date.getDate()}-${order.products.order_date.getMonth() + 1}-${order.products.order_date.getFullYear()}` %>
                                </td>
                                <td>

                                    <select onchange="changeStatus(event,'<%= order._id %>','<%= order.products._id %>')" class="status" name="status" id="">
                                        <option class="<%= order.products.status == 'delivered' ? 'delivered' : '' %>" value="<%= order.products.status %>"><%= order.products.status.toUpperCase() %></option>
                                        <option style="color: orangered;" value="confirmed">CONFIRMED</option>
                                        <option style="color: rgb(0, 0, 122);" value="shipped">SHIPPED</option>
                                        <option style="color: green;" value="delivered">DELIVERED</option>
                                        <option style="color: red;" value="cancelled">CANCELL</option>
                                    </select>
                                </td>
                            </tr>

                            <% }) %>

                        </tbody>
                      </Table>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                       <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                         <div class="links">
                             <button class="page_btn" onclick="active()" value="1">1</button>
                             <button class="page_btn" onclick="active()" value="2">2</button>
                             <button class="page_btn" onclick="active()" value="3">3</button>
                             <button class="page_btn" onclick="active()" value="4">4</button>
                             <button class="page_btn" onclick="active()" value="5">5</button>
                             <button class="page_btn" onclick="active()" value="6">6</button>
                             <button class="page_btn" onclick="active()" value="7">7</button>
                          </div>
                         <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


function  active(){
    for(l of pagesBtn){

        l.classList.remove('active_link')
    }
    event.target.classList.add('active_link')
    currentValue = event.target.value
    window.location.href = `/admin/banners?page=${currentValue}`


}


function prev(){
    if(currentValue > 1){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   

   currentValue--;
   window.location.href = `/admin/banners?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}

function next()
{
    if(currentValue < pagetotalcount ){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   
   
   currentValue++;
   window.location.href = `/admin/banners?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')

    }
}



const changeStatus = async(event,orderId,productId) =>{
    event.preventDefault()

const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-success",
    cancelButton: "btn btn-danger"
  },
  buttonsStyling: false
});

swalWithBootstrapButtons.fire({
  title: "Are you sure?",
  text: "You want to change the order status?",
  icon: "warning",
  showCancelButton: true,
  confirmButtonText: "Yes, Change It!",
  cancelButtonText: "No, Cancel!",
  reverseButtons: true,
  customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-secondary'
  }
}).then(async(result) => {
    if (result.isConfirmed) {

    const response = await fetch(`/admin/change_order_status?orderId=${orderId}&productId=${productId}`,{
        method:'PUT',
        headers:{
            'Content-Type':'application/json'
        },
        body:JSON.stringify({status:event.target.value})
    })

    const result = await response.json()
    if(result.success){
        Swal.fire({
        position: "top-end",
        icon: "success",
        title: "Status have been updated",
        showConfirmButton: false,
        timer: 1500
    });
    }
  } else if (
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire({
      title: "Cancelled",
      text: "Your imaginary file is safe :)",
      icon: "error"
    });
  }
});


}

</script>


<%- include('../../common/end.ejs') %>