<%- include('../components/head.ejs') %>
<div class="wrapper products_wrapper">
    <div class="loading_screen"></div>
    <%- include('../components/top_nav.ejs') %>
    <div class="content products_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
             <div class="product_frame">
                <div class="pro_top">
                    <h3>Products Details</h3>
                    <button onclick="location.href = '/admin/product/add_product'">Add Products</button>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 4%;">SI</th>
                            <th style="width: 23%;">PRODUCT _ID</th>
                            <th style="width: 14%;">IMAGE</th>
                            <th style="width: 14%;">NAME</th>
                            <th style="width: 8%;">STOCKS</th>
                            <th style="width: 12%;">CATEGORY</th>
                            <th style="width: 12%;">SUB CATE</th>
                            <th style="width: 7%;">PRICE</th>
                            <th style="width: 7%;">EDIT</th>
                            <th style="width: 7%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product,index)=> { %>
                            <tr class="td_tr<%= product._id %>">

                                <td><%= index+1 %></td>
                                <td class="product<%= product._id %>"><%= product._id %></td>
                                <td class="product_image_li"><img src="<%= product.productimg[0] %>" class="product_img"></td>
                                <td><%= product.productname %></td>
                                <td><%= product.stock %></td>
                                <td><%= product.category %></td>
                                <td><%= product.subcategory %></td>
                                <td><i class="bi bi-currency-rupee"></i><%= product.newprice.toLocaleString() %></td>
                                <td><button class="edit_btn<%= product._id %>"><i class="bi bi-pencil-square"></i></button></td>
                                <td><button class="delete_btn<%= product._id %>"><i class="bi bi-trash"></i></button></td>
                            </tr>

                            <% }) %>  
                        </tbody>
                      </Table>
                </div>
                <div id="pagecount" style="display: none;"><%= page %></div>
                <div id="pagetotalcount" style="display: none;"><%= pagCount %></div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                        <div class="links">
                            <button class="page_btn" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                        </div>
                        <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    
    const loadingScreen = document.querySelector('.loading_screen')
        
        function showLoading(){
            loadingScreen.style.display = 'block'
        }
        
        function hideLoading(){
            loadingScreen.style.display = 'none'
        }


        
const pagesBtn = document.getElementsByClassName('page_btn')
const pagecount =document.getElementById('pagecount').innerHTML
const pagetotalcount =document.getElementById('pagetotalcount').innerHTML


let currentValue = parseInt(pagecount)


function  active(){
    for(l of pagesBtn){

        l.classList.remove('active_link')
    }
    event.target.classList.add('active_link')
    currentValue = event.target.value
    window.location.href = `/admin/products?page=${currentValue}`


}


function prev(){
    if(currentValue > 1){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   

   currentValue--;
   window.location.href = `/admin/products?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}

function next()
{
    if(currentValue < pagetotalcount ){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   
   
   currentValue++;
   window.location.href = `/admin/products?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')

    }
}

        

</script>


<% products.forEach((product,index)=> { %>

<script>


document.addEventListener('DOMContentLoaded',() => {


document.querySelector('.edit_btn<%= product._id %>').addEventListener('click',(e) => {
    e.preventDefault()
    e.stopPropagation()
    window.location.href = '/admin/product/edit_product/<%= product._id %>'
})


document.querySelector('.delete_btn<%= product._id %>').addEventListener('click',async(e) => {
    e.preventDefault()
    e.stopPropagation()
    try {


        const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
        confirmButton: "btn btn-success",
        cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel!",
        reverseButtons: true,
        customClass: {
        confirmButton: 'btn btn-danger',
        cancelButton: 'btn btn-secondary'
    }
        }).then(async(result) => {
        if (result.isConfirmed) {

        showLoading()

        const response = await fetch('/admin/product/remove_product',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= product._id %>'})
        })

        const result = await response.json()
        hideLoading()

        if(response.ok){
            if(result.success){
                document.querySelector('.td_tr<%= product._id %>').remove()
                swalWithBootstrapButtons.fire({
                title: "Deleted!",
                text: "Your file has been deleted.",
                icon: "success"
            });
            }
            else{
                console.log('Failed to delete product');
            }
        }

    } else if (
        result.dismiss === Swal.DismissReason.cancel
        ) {
        swalWithBootstrapButtons.fire({
            title: "Cancelled",
            text: "Your imaginary file is safe :)",
            icon: "error"
         });
        }
        });

        
    } catch (error) {
        console.log('Error in banner Delete',error.message);
    }
})



document.querySelector('.td_tr<%= product._id %>').addEventListener('click',(e) => {
    e.preventDefault()
    e.stopPropagation()
    window.location.href = '/admin/product/product_deltails?product=<%= product._id %>'
})


})


</script>

<% }) %>  


<%- include('../../common/end.ejs') %>