<%- include('../components/head.ejs') %>
<div class="wrapper users_wrapper">
    <%- include('../components/top_nav.ejs') %>
    <div class="content users_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>User Details</h3>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 15%;">USER _ID</th>
                            <th style="width: 14%;">NAME</th>
                            <th style="width: 17%;">EMAIL</th>
                            <th style="width: 12%;">MOBILE</th>
                            <th style="width: 10%;">REG_DATE</th>
                            <th style="width: 7%;">ORDERS</th>
                            <th style="width: 7%;">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% userList.forEach((user,index)=> { %>
                            <tr class="data_tr<%= user._id %>" style="cursor: pointer;">
                                <td class="si_td"><%= index+1 %></td>
                                <td><%= user._id %></td>
                                <td><%= user.username %></td>
                                <td><%= user.email %></td>
                                <td><%= user.mobilenum %></td>
                                <td><%= user.regdate %></td>
                                <td>1</td>
                                <td><button class="delet_btn delet_btn<%= user._id %>"><i class="bi bi-trash"></i></button></td>
                            </tr>
                          <% }) %>  
                        </tbody>
                      </Table>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                        <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                        <div class="links">
                            <button class="page_btn" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                        </div>
                        <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


<script>

// const prevBtn = document.querySelector('.back_btn')
// const pagesBtn = document.querySelectorAll('.page_btn')
// const nextBtn = document.querySelector('.next_btn')



// pagesBtn.forEach((btn) => {
    
//     btn.addEventListener('click',(e) => {
       
//         const pageValue = e.target.value
//         window.location.href = `/admin/custumers?page=${pageValue}`
        
//     })
    
// })


const pagesBtn = document.getElementsByClassName('page_btn')



let currentValue = 1


function  active(){
    for(l of pagesBtn){

        l.classList.remove('active_link')
    }
    event.target.classList.add('active_link')
    currentValue = parseInt(event.target.value)
    window.location.href = `/admin/custumers?page=${currentValue}`

}



function prev(){
    if(currentValue > 1){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   

   currentValue--;
   window.location.href = `/admin/custumers?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}

function next(){
    if(currentValue < 7 ){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   
   
   currentValue++;
   window.location.href = `/admin/custumers?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}












</script>


<% userList.forEach((user,index)=> { %>

<script>
    
    
document.querySelector('.delet_btn<%= user._id %>').addEventListener('click',async(e) => {

    e.preventDefault()

    try {

        const response = await fetch('/admin/custumer/remove',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= user._id %>'})
        })

        const result = await response.json()

        if(!response.ok){
        throw new Error('Error in user delete')
        }
        else{
            if(result.success){
                document.querySelector('.data_tr<%= user._id %>').remove()
                document.querySelector('.si_td').innerHTML = '<%= index  %>'

            }
            else{
                console.log('User Deletion Failed');
            }
        }


    } catch (error) {
        console.log('Error in user deletion',error.message);
    }
})


</script>

<% }) %>  

<%- include('../../common/end.ejs') %>


<!-- let html = ''
for(let i=0;i<120;i++){
    html+=`<td>${result[i].name}</td<td>${result[i].name}</td<td>${result[i].name}</td<td>${result[i].name}</td<td>${result[i].name}</td<td>${result[i].name}</td>`
} -->
