<%- include('../components/head.ejs') %>
<div class="wrapper users_wrapper">
    <div class="loading_screen"></div>
    <%- include('../components/top_nav.ejs') %>
    <div class="content users_content">
        <%- include('../components/left_bar.ejs') %>
        <div class="right_content">
            <div class="product_frame">
                <div class="pro_top">
                    <h3>User Details</h3>
                </div>
                <div class="pro_center">
                    <Table>
                        <thead>
                            <tr class="th_tr">
                            <th style="width: 3%;">SI</th>
                            <th style="width: 15%;">USER _ID</th>
                            <th style="width: 13%;">NAME</th>
                            <th style="width: 17%;">EMAIL</th>
                            <th style="width: 12%;">MOBILE</th>
                            <th style="width: 7%;">ORDERS</th>
                            <th style="width: 10%;">REG_DATE</th>
                            <th style="width: 8%;">VERIFIED</th>
                            <th style="width: 8%;">STATUS</th>
                            <th style="width: 7%;">BLOCK</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% userList.forEach((user,index)=> { %>

                            <tr class="data_tr<%= user._id %>" style="cursor: pointer;">
                                <td class="si_td"><%= index+1 %></td>
                                <td style="font-size: .8rem;" class="user<%= user._id %>"><%= user._id %></td>
                                <td><%= user.username %></td>
                                <td><%= user.email %></td>
                                <td><%= user.mobilenum %></td>
                                <td>1</td>
                                <td><%= user.regdate %></td>
                                <td><%= user.verified ? "TRUE" : "FALSE" %></td>
                                <td class="block_td"><%= user.blocked? 'BLOCKED' : 'ACTIVE' %></td>
                                <td><button class="delet_btn delet_btn<%= user._id %>"><i class="bi block_unblock <%= user.blocked? 'bi-ban' : 'bi-circle' %>"></i></button></td>
                            </tr>

                          <% }) %>  
                        </tbody>
                      </Table>
                      <div id="pagecount" style="display: none;"><%= page %></div>
                </div>
                <div class="pro_bottom">
                    <div class="link_pagination">
                       <button class="back_btn" onclick="prev()"><i class="bi bi-chevron-left"></i></button>
                         <div class="links">
                            <button class="page_btn active_link" onclick="active()" value="1">1</button>
                            <button class="page_btn" onclick="active()" value="2">2</button>
                            <button class="page_btn" onclick="active()" value="3">3</button>
                            <button class="page_btn" onclick="active()" value="4">4</button>
                            <button class="page_btn" onclick="active()" value="5">5</button>
                            <button class="page_btn" onclick="active()" value="6">6</button>
                            <button class="page_btn" onclick="active()" value="7">7</button>
                         </div>
                       <button class="next_btn" onclick="next()"><i class="bi bi-chevron-right"></i></button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


<script>


const loadingScreen = document.querySelector('.loading_screen')
        
        function showLoading(){
            loadingScreen.style.display = 'block'
        }
        
        function hideLoading(){
            loadingScreen.style.display = 'none'
        }
        
        


const pagesBtn = document.getElementsByClassName('page_btn')

const pagecount =document.getElementById('pagecount').innerHTML


let currentValue = pagecount


function  active(){
    for(l of pagesBtn){

        l.classList.remove('active_link')
    }
    currentValue = event.target.value
    event.target.classList.add('active_link')
    window.location.href = `/admin/custumers?page=${currentValue}`


}



function prev(){
    if(currentValue > 1){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   

   currentValue--;
   window.location.href = `/admin/custumers?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')


    }
}

function next()
{
    if(currentValue < 7 ){
        for(l of pagesBtn){

   l.classList.remove('active_link')
   }   
   
   currentValue++;
   window.location.href = `/admin/custumers?page=${currentValue}`
   pagesBtn[currentValue-1].classList.add('active_link')

    }
}



</script>


<% userList.forEach((user,index)=> { %>

<script>



document.addEventListener('DOMContentLoaded',() => {
 
    
document.querySelector('.delet_btn<%= user._id %>').addEventListener('click',async(e) => {

    e.preventDefault()
    e.stopPropagation()
    try {

        showLoading()
        const response = await fetch('/admin/custumer/remove',{
            method:'DELETE',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({id:'<%= user._id %>'})
        })

        const result = await response.json()
        hideLoading()

        if(!response.ok){
        throw new Error('Error in user delete')
        }
        else{
            if(result.success){
                if(result.blocked){
                 document.querySelector('.block_td').innerHTML = 'BLOCKED'
                 document.querySelector('.block_unblock').classList.remove('bi-circle')
                 document.querySelector('.block_unblock').classList.add('bi-ban')
                }
                else{
                 document.querySelector('.block_td').innerHTML = 'ACTIVE'
                 document.querySelector('.block_unblock').classList.remove('bi-ban')
                 document.querySelector('.block_unblock').classList.add('bi-circle')
                }

            }
            else{
                console.log('User Deletion Failed');
            }
        }


    } catch (error) {
        console.log('Error in user deletion',error.message);
    }
})



document.querySelector('.data_tr<%= user._id %>').addEventListener('click',(e) => {
    e.preventDefault()
    e.stopPropagation()
    window.location.href = '/admin/custumer/<%= user._id %>'
})





})

</script>

<% }) %>  

<%- include('../../common/end.ejs') %>
