<div class="frame">
<div class="left_bar">
    <ul>
        <li class="<%= state=='dashboard' ? 'active' : '' %>"><i class="bi bi_left_bar bi-clipboard-data-fill"></i>Dashboard</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-person-fill"></i>Users</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-box-seam-fill"></i>Products</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-tags-fill"></i>Category</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-person-vcard-fill"></i>Coupons</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-chat-dots"></i>Messages</li>
        <li class="<%= state==='' ? 'active' : '' %>"><i class="bi bi_left_bar bi-calendar-date"></i>banners</li>
    </ul>
</div>
</div>